{% include "partials/_head.html" %}

  <title>About</title>
  <meta name="description" content="Through research, design and staffing, we work with clients to solve brand, product or service problems and create delightful user experiences.">

</head>
  <body id="about">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="about1"> 
        
        {% include "partials/_nav3.html" %}

        <figure>
          <a href="#about-anchor1" class="rec-image">
            <div class="overlay-wrapper h-staffing-bgcolor">
              <div class="overlay">
                <i class="fa fa-search"></i>
              </div>
              <p>Staff</p>
            </div>
          </a>
        </figure>
        <figure>
          <a href="#about-anchor2" class="rec-image">
            <div class="overlay-wrapper h-research-bgcolor">
              <div class="overlay">
                <i class="fa fa-search"></i>
              </div>
              <p>Research</p>
            </div>
          </a>
        </figure>
        <figure>
          <a href="#about-anchor3" class="rec-image">
            <div class="overlay-wrapper h-design-bgcolor">
              <div class="overlay">
                <i class="fa fa-search"></i>
              </div>
              <p>Design</p>
            </div>
          </a>
        </figure>
        <figure>
          <a href="#about-anchor4" class="rec-image">
            <div class="overlay-wrapper h-reframe-bgcolor">
              <div class="overlay">
                <i class="fa fa-search"></i>
              </div>
              <p>Reframe</p>
            </div>
          </a>
        </figure>

      </section>

      <section id="work2">
        <div id="about-anchor1"></div>
        <div class="page-center">
          <div id="work-staffing">
            <h2 class="section-header h-staffing-color">We help you <span>Staff</span></h2>
            <p class="sentinel-lead">Our recruiters work with our UX people to build your experience-driven culture with full-time staffing, or get projects done with as-needed UX support.</p>
            <ul class="offerings">
              <li>UX Researchers</li>
              <li>UX/UI Designers</li>
              <li>UX Directors</li>
              <li>Strategists</li>
              <li>Interaction Designers</li>
            </ul>
          </div>
        </div>

        <div class="about-banner about-img1">
          <div id="staff-link-wrapper">
            <a class="staff-link" href="http://www.uxhires.com/hiretalent.php">Build Your Team</a>
            <a class="staff-link" href="http://www.uxhires.com/gethired.php">Get Hired</a>
          </div>
        </div>
      </section>


      <section id="work3">
        <div id="about-anchor2"></div>
        <div class="page-center">
          <div id="work-research">
            <h2 class="section-header h-research-color">We help you <span>Research</span></h2>
            <p class="sentinel-lead">Understand your customers needs and wants, discover new insights, and validate important decisions to create engaging experiences.</p>
            <ul class="offerings">
            <li>USABILITY TESTING</li>
            <li>FRIENDSHIP GROUPS</li>
            <li>ETHNOGRAPHY</li>
            <li>MOBILE DIARY STUDIES</li>
            <li>IN-DEPTH INTERVIEWS</li>
            </ul>
          </div>
        </div>
        
        <div class="about-banner about-img2">
          <a class="more-link hvr-icon-forward h-research-bgcolor" href="/white-papers/journey-maps.html">
            <div>
            <p class="tiny-button-text">White Paper</p>
            <p class="about-button-text">Journey Map Mindset</p>
            </div>
          </a>
        </div>

      </section>


      <section id="work4">
        <div id="about-anchor3"></div>
        <div class="page-center">
          <div id="work-design">
            <h2 class="section-header h-design-color">We help you <span>Design</span></h2>
            <p class="sentinel-lead">Design what you need: the way things work, the way things look or a new way to communicate what customers want.</p>
            <ul class="offerings">
            <li>Personas</li>
            <li>Journey Maps</li>
            <li>Wireframes</li>
            <li>Visual Design</li>
            <li>Branding</li>
            <li>Information Architecture</li>
            </ul>
          </div>
        </div>

        <div class="about-banner about-img3">
          <a class="more-link hvr-icon-forward h-design-bgcolor" href="/case-studies/trendsetter.html">
            <div>
              <p class="tiny-button-text">Case Study</p>
              <p class="about-button-text">Trendsetter</p>
            </div>
          </a>
        </div>

      </section>


      <section id="work2">
        <div id="about-anchor4"></div>
        <div class="page-center">
          <div id="work-reframe">
            <h2 class="section-header h-reframe-color">We help you <span>Reframe</span></h2>
            <p class="sentinel-lead">Shift the way you work, innovate, and think through our proven set of techniques that help you come up with and execute on your next big idea. Now available in hardcover and e-book formats.</p>
            <ul class="offerings">
            <li>IDEATION WORKSHOPS</li>
            <li>TRAINING WORKSHOPS</li>
            <li>COLLABORATIVE DESIGN SESSIONS</li>
            <li>UX-FOCUSED EVENTS</li>
            </ul>
          </div>
        </div>

        <div class="about-banner about-img4">
          <a class="more-link hvr-icon-forward h-reframe-bgcolor" href="http://www.readytoreframe.com/#sneak-peek">
            <div>
              <p class="tiny-button-text">Download</p>
              <p class="about-button-text">Free Chapter</p>
            </div>
          </a>
        </div>

      </section>

    </div>


      {% include "partials/_foot.html" %}