{% include "partials/_head.html" %}

  <title>Contact</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="home1"> 

      	{% include "partials/_nav.html" %}
      	<h1 class="page-center motivate-header hidden-load animated slideInUp">Motivate Design is a <b>User Experience</b> staffing, research and design shop</h1>
      </section>

        <!-- body goes here -->

  	  	{% include "partials/_foot.html" %}