{% include "partials/_head.html" %}

  <title>Home</title>
  <meta name="description" content="Motivate Design is a User Experience staffing, research and design shop. Disruptive thinking. Happy humans. New York, NY">

</head>
  <body id="home">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="home1"> 

      	{% include "partials/_nav.html" %}
      	
        <h1 class="wp1 hidden-load page-center motivate-header">Motivate Design is a <b>User Experience</b> staffing, research and design shop

        <div class="arrow-container">
          <a href="#home2">
            <img src="/images/misc/arrows/arrow.svg", class="h-arrow animated bounce infinite", alt="Down arrow">
          </a>
        </div>

        </h1>

      </section>


      <section id="home2">
        <div class="page-center">
          <h2 class="orange-lead">Companies work with us when they want to discover something new and validate important decisions.</h2>
          <h3 class="sentinel-lead">Every touchpoint shapes the User Experience (UX) that your customers have with your product or service. But smart UX doesn't just happen. It is the result of deep and empathetic thinking, research, and design. And a great team!</h3>
        </div>
      </section>



      <section id="home3">
        
        <div class="page-center hidden-load wp2">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">Smart, simple<br> staffing solutions</h3>
            <p>Our team of <a class="basic-link" href="/about.html#about-anchor1">specialized recruiters</a> can help you build out your team or find the perfect job.</p>
          </div>
        </div>
      </section>




      <section id="home4">
        
        <div class="page-center hidden-load wp3">
          <div class="bucket-inner">
            <h3 class="section-header h-research-color">User research<br> methods that work</h3>
            <p><a class="basic-link" href="/about.html#about-anchor2">Research</a> helps you understand customers, discover new insights, and validate decisions.</p>
          </div>
        </div>
       
        <div class="image-wrap">
          <a class="image-link" href="/about.html#about-anchor2">
            <img class="hidden-load wp4" src="./images/home/reseach01.png" alt="">
          </a>
        </div>
      </section>




      <section id="home5">
       
        <div class="page-center hidden-load wp5">
          <div class="bucket-inner">
            <h3 class="section-header h-design-color">Design that meets your needs</h3>
            <p>Full-service offerings to help <a class="basic-link" href="/about.html#about-anchor3">design</a> what your customers want: from the way things look, to the way things work.</p>
          </div>
        </div>
        
        <div class="image-wrap">
          <a class="image-link" href="/about.html#about-anchor3">
            <img class="hidden-load wp6" src="./images/home/design01.png" alt="">
          </a>
        </div>
      </section>




      <section id="home6">
       
        <div class="page-center hidden-load wp7">
          <div class="bucket-inner">
            <h3 class="section-header h-reframe-color">Are you ready to Reframe?</h3>
            <p><a class="basic-link" href="http://www.readytoreframe.com/#sneak-peek" target="_blank">Download a free chapter</a> of <em>Reframe: Shift the Way You Work, Innovate, and Think</em>, Amazon best seller by Motivate Design's CEO and Founder, Mona Patel.</p>
            <a id="buy-now-more-link" href="http://www.amazon.com/Reframe-Shift-Think-Work-Innovate-ebook/dp/B00VTZX9XK/">Buy Now</a>
          </div>
        </div>
       
        <div class="image-wrap">
          <a class="image-link" href="/about.html#about-anchor4">
          <img class="hidden-load wp8" src="./images/home/book-mockup2.png" alt="">
        </a>
        
        </div>
      </section>



    </div> <!-- container end -->

    {% include "partials/_foot.html" %}