{% include "partials/_head.html" %}

  <title>Home</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="home1"> 

      	{% include "partials/_nav.html" %}
      	
        <h1 class="page-center motivate-header hidden-load animated slideInUp">Motivate Design is a <b>User Experience</b> staffing, research and design shop</h1>
      </section>
      <section id="home2" class="page-center">
        <h2 class="orange-lead">Companies work with us when they want to discover something new and validate important decisions.</h2>
        <h3 class="sentinel-lead">Every touchpoint shapes the User Experience (UX) that your customers have with your product or service. But smart UX doesn't just happen. It is the result of deep and empathetic thinking, research, and design. And a great team!</h3>
      </section>

      <section id="home3">
        <div class="bucket wp2 hidden-load animated fadeInLeft">
          <h3>Smart, simple<br>staffing solutions</h3>
          <p>Our team of <a class="more-link" href="http://www.motivatedesign.com/about#about-anchor01">specialized recruiters</a> can help you build out your team or find the perfect job.</p>
        </div>
      </section>

      <section id="home4">
        <div class="half bucket wp2 hidden-load animated fadeInLeft">
          <h3>Smart, simple<br>staffing solutions</h3>
          <p>Our team of <a class="more-link" href="http://www.motivatedesign.com/about#about-anchor01">specialized recruiters</a> can help you build out your team or find the perfect job.</p>
        </div>
        <div class="half"><img src="../dist/images/home/reseach01.png" alt=""></div>
      </section>


      <section id="home5">
      </section>


      <section id="home6">
      </section>

      <section id="home7">
      </section>

    </div> <!-- container end -->
    <footer>
      <div class="half">
        <address>Motivate Design<br>111 John St<br>Suite 450<br>New York, NY 10038</address>
        <div class="contact-info-container">
          <a class="contact-info" href="tel:646-400-5108">646.400.5108</a>
          <a class="contact-info" href="mailto:hello@motivatedesign.com">hello@motivatedesign.com</a>
        </div>
      </div>
        <div class="half">
          
          <div class="find-us-text">
            <span class="sentinel-light-italic">Find us on:</span>
          </div>

          <div>
            <a href="https://twitter.com/Motivate_Design" target="_blank">
              <div id="social-slide1">&nbsp;</div>
            </a>
            <a href="http://www.facebook.com/MotivateDesign" target="_blank">
              <div id="social-slide2">&nbsp;</div>
            </a>
          </div>

          <div>
            <a href="http://www.instagram.com/MotivateDesign" target="_blank">
              <div id="social-slide3">&nbsp;</div>
            </a>
            <a href="http://www.linkedin.com/company/1371810" target="_blank">
              <div id="social-slide4">&nbsp;</div>
            </a>
          </div>

        </div>
    </footer>

    {% include "partials/_foot.html" %}