{% include "partials/_head.html" %}

  <title>Home</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="home">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="home1"> 

      	{% include "partials/_nav.html" %}
      	
        <h1 class="wp1 hidden-load page-center motivate-header">Motivate Design is a <b>User Experience</b> staffing, research and design shop</h1>
      </section>

      <section id="home2" class="page-center">
        <h2 class="orange-lead">Companies work with us when they want to discover something new and validate important decisions.</h2>
        <h3 class="sentinel-lead">Every touchpoint shapes the User Experience (UX) that your customers have with your product or service. But smart UX doesn't just happen. It is the result of deep and empathetic thinking, research, and design. And a great team!</h3>
      </section>

      <section id="home3">
        <div class="bucket half hidden-load wp2">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">Smart, simple<br> staffing solutions</h3>
            <p>Our team of specialized recruiters can help you build out your team or find the perfect job</p>
          </div>
        </div>
      </section>

      <section id="home4">
        <div class="bucket half hidden-load wp3">
          <div class="bucket-inner">
            <h3 class="section-header h-research-color">User research<br> methods that work</h3>
            <p>Research helps you understand customers, discover new insights, and validate decisions.<a class="basic-link" href="http://www.motivatedesign.com/about#about-anchor01">Learn more.</a></p>
          </div>
        </div>
        <div class="half"><img class="hidden-load wp4" src="./images/home/reseach01.png" alt=""></div>
      </section>


      <section id="home5">
        <div class="bucket half hidden-load wp5">
          <div class="bucket-inner">
            <h3 class="section-header h-design-color">User research<br> methods that work</h3>
            <p>Research helps you understand customers, discover new insights, and validate decisions.<a class="basic-link" href="http://www.motivatedesign.com/about#about-anchor01">Learn more.</a></p>
          </div>
        </div>
        <div class="half"><img class="hidden-load wp6" src="./images/home/design01.png" alt=""></div>
      </section>


      <section id="home6">
        <div class="bucket half hidden-load wp7">
          <div class="bucket-inner">
            <h3 class="section-header h-reframe-color">User research<br> methods that work</h3>
            <p>Research helps you understand customers, discover new insights, and validate decisions.<a class="basic-link" href="http://www.motivatedesign.com/about#about-anchor01">Learn more.</a></p>
          </div>
        </div>
        <div class="half"><img class="hidden-load wp8" src="./images/home/book-mockup2.png" alt=""></div>
      </section>


      <section id="home7">
      </section>

    </div> <!-- container end -->

    {% include "partials/_foot.html" %}