{% include "partials/_head.html" %}

  <title>People</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="people">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="people1"> 

      	{% include "partials/_nav.html" %}

          <h1>We're a group of super smart UX<br>people who love to do what we do.</h1>
          
          <ul id="people-small-header">
            <li>EST. 2009 IN NYC</li>|
            <li>WOMAN-OWNED</li>|
            <li>INC 5000 FASTEST GROWING COMPANY</li>
          </ul>

      </section>

      <section id="people2" class="page-center">
        


        <div class="third">
          <div class="people-image">
            <a href="http://www.motivatedesign.com/about/mona">
              <!-- photo -->
              <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
          </div>
        </div>

                <div class="third">
          <div class="people-image">
            <a href="http://www.motivatedesign.com/about/mona">
              <!-- photo -->
              <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
          </div>
        </div>

                <div class="third">
          <div class="people-image">
            <a href="http://www.motivatedesign.com/about/mona">
              <!-- photo -->
              <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
          </div>
        </div>

                <div class="third">
          <div class="people-image">
            <a href="http://www.motivatedesign.com/about/mona">
              <!-- photo -->
              <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
          </div>
        </div>

                <div class="third">
          <div class="people-image">
            <a href="http://www.motivatedesign.com/about/mona">
              <!-- photo -->
              <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
          </div>
        </div>

                <div class="third">
          <div class="people-image">
            <a href="http://www.motivatedesign.com/about/mona">
              <!-- photo -->
              <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
          </div>
        </div>

      </section>

      <section id="people3">
        <div class="bucket page-center">
          <p id="people-lead">Are you people-people?</p>
          <p id="people-text">If so, <a class="more-link" href="http://uxhires.com/hiretalent.php">work with us</a> or <a class="more-link" href="http://uxhires.com/hiretalent.php"> get in touch</a></p>
        </div>
      </section>

      <section id="people4">
        <div class="page-center">
          <h5 class="eeo-header">Jobs at Motivate Design</h5>
          <p class="eeo">Motivate Design provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. In addition to federal law requirements, Motivate Design complies with applicable state and local laws governing nondiscrimination in employment in every location in which the company has facilities. This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.</p>
          <p class="eeo">Motivate Design expressly prohibits any form of workplace harassment based on race, color, religion, gender, sexual orientation, gender identity or expression, national origin, age, genetic information, disability, or veteran status. Improper interference with the ability of Motivate Design’s employees to perform their job duties may result in discipline up to and including discharge.</p>
        </div>
      </section>

    </div>

  	  	{% include "partials/_foot.html" %}