{% include "partials/_head.html" %}

  <title>People</title>
  <meta name="description" content="Motivate Design, a user experience (UX) design agency. Innovative user research. Disruptive design thinking. Happy humans. New York, NY">

</head>
  <body id="people">
    <a href="comingsoon"></a>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="people1"> 

      	{% include "partials/_nav.html" %}

          <h1>We're a group of super smart UX<br>people who love to do what we do.</h1>
          
          <ul id="people-small-header">
            <li>EST. 2009 IN NYC</li>|
            <li>WOMAN-OWNED</li>|
            <li>INC 5000 FASTEST GROWING COMPANY</li>
          </ul>

      </section>

      <section id="people2" class="page-center">
        


        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/mona.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/monacircle.png" alt="mona.jpeg">
            </a>
          </div>
          <h3>MONA PATEL</h3>
          <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
          <div class="people-icons">
              <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <!-- <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people.html#comingsoon">
              <img class="persons-photo" src="./images/people/thumbnails/SP_headshot.png" alt="scottp">
            </a>
          </div>
          <h3>Scott Pobiner</h3>
          <p class="small-text"><span>Vice President</span></p>
          <div class="people-icons">
              <a href="mailto:scott@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="#"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div> -->

                <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/dan.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/dan.jpg" alt="Dan">
            </a>
          </div>
          <h3>Dan Sennet</h3>
          <p class="small-text"><span>VP, Finance</span></p>
          <div class="people-icons">
              <a href="mailto:dan@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/danielsennet"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/sennetors"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/ken.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/kencircle.png" alt="ken">
            </a>
          </div>
          <h3>Ken Moran</h3>
          <p class="small-text"><span>VP, Operations</span></p>
          <div class="people-icons">
              <a href="mailto:ken@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/ken-moran/6/921/316"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

                <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/scott.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/scottcircle.png" alt="scott">
            </a>
          </div>
          <h3>SCOTT IVERSON</h3>
          <p class="small-text"><span>DIRECTOR, CLIENT PARTNERSHIPS</span></p>
          <div class="people-icons">
              <a href="mailto:scott@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="http://www.linkedin.com/in/scottiverson"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/jack.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/jackcircle.png" alt="jack">
            </a>
          </div>
          <h3>Jack Cole</h3>
          <p class="small-text"><span>DIRECTOR, UX DESIGN</span></p>
          <div class="people-icons">
              <a href="mailto:jack@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/jack-cole/8/194/59"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/jackwo14"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/christo.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/christo1.jpg" alt="Christo">
            </a>
          </div>
          <h3>CHRISTO CLAASSENS</h3>
          <p class="small-text"><span>LEAD UX DESIGNER</span></p>
          <div class="people-icons">
              <a href="mailto:christo@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/brolloks"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/brolloks1"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people.html#comingsoon">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/tomas_headshot.png" alt="tomas">
            </a>
          </div>
          <h3>TOMAS CHRISTENSEN</h3>
          <p class="small-text"><span>LEAD UX DESIGNER</span></p>
          <div class="people-icons">
              <a href="mailto:tomas@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/tomaschristensen"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/anne.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/annecircle.png" alt="anne">
            </a>
          </div>
          <h3>ANNE BORREMANS</h3>
          <p class="small-text"><span>SENIOR VISUAL DESIGNER</span></p>
          <div class="people-icons">
              <a href="mailto:anne@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/anneborremans"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>

          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people.html#comingsoon">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/jessicacircle.png" alt="jessica">
            </a>
          </div>
          <h3>JESSICA BATES</h3>
          <p class="small-text"><span>DIRECTOR OF RESEARCH PRACTICE</span></p>
          <div class="people-icons">
              <a href="mailto:jessica@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/jessica-bates/30/4a5/8aa"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="people/matt.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/mattcircle.png" alt="matt">
            </a>
          </div>
          <h3>MATT KARP</h3>
          <p class="small-text"><span>SENIOR DESIGN RESEARCHER</span></p>
          <div class="people-icons">
              <a href="mailto:dan@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/mattkarp2"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/MattKarpx2"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/emily.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/emilycircle.png" alt="emily">
            </a>
          </div>
          <h3>EMILY CHU</h3>
          <p class="small-text"><span>SENIOR DESIGN RESEARCHER</span></p>
          <div class="people-icons">
              <a href="mailto:emily@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/emchu16"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/EmChu16"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/ryan.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/ryancircle.png" alt="Ryan">
            </a>
          </div>
          <h3>RYAN HORGAN</h3>
          <p class="small-text"><span>DESIGN RESEARCHER</span></p>
          <div class="people-icons">
              <a href="mailto:ryan@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/ryanhorgan"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/ryhorgan"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/abigail.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/abbycircle.png" alt="Abigail">
            </a>
          </div>
          <h3>ABIGAIL MUIR</h3>
          <p class="small-text"><span>UX DESIGNER</span></p>
          <div class="people-icons">
              <a href="mailto:abby@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/abigail-muir/50/6a/84"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people.html#comingsoon">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/nickbio.png" alt="Nick">
            </a>
          </div>
          <h3>NICK REITER</h3>
          <p class="small-text"><span>UX DESIGNER</span></p>
          <div class="people-icons">
              <a href="mailto:nick@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/nick-reiter-a0138427"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/sean.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/SeanCircle.png" alt="Sean">
            </a>
          </div>
          <h3>SEAN ECHEVARRIA</h3>
          <p class="small-text"><span>MARKETING OPERATIONS MANAGER</span></p>
          <div class="people-icons">
              <a href="mailto:sean@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/specheva"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/specheva"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people.html#comingsoon">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/jeannie_headshot.jpg" alt="jean">
            </a>
          </div>
          <h3>JEANNIE KINNETT</h3>
          <p class="small-text"><span>RESEARCH PRODUCER</span></p>
          <div class="people-icons">
              <a href="mailto:jeannie@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/jeanniekinnett"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/hellojean"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/leigh.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/leighcircle.png" alt="leigh">
            </a>
          </div>
          <h3>LEIGH ALTSHULER</h3>
          <p class="small-text"><span>MARKETING CONTENT MANAGER</span></p>
          <div class="people-icons">
              <a href="mailto:leigh@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/lois.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/loiscircle.png" alt="lois">
            </a>
          </div>
          <h3>LOIS SIEGEL</h3>
          <p class="small-text"><span>DIRECTOR, RECRUITING</span></p>
          <div class="people-icons">
              <a href="mailto:lois@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/lois-siegel/1/227/b6"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/jesse.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/jessecircle.png" alt="jesse">
            </a>
          </div>
          <h3>JESSE MCBRIDE</h3>
          <p class="small-text"><span>SENIOR UX RECRUITER</span></p>
          <div class="people-icons">
              <a href="mailto:jesse@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/in/jessemcbride"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/jesseuxhires"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/kimber.html">
              <!-- photo -->
              <img class="persons-photo" src="./images/people/thumbnails/kimberbio.jpg" alt="kimber">
            </a>
          </div>
          <h3>KIMBER GREGORAKIS</h3>
          <p class="small-text"><span>LEAD BUSINESS ANALYST</span></p>
          <div class="people-icons">
              <a href="mailto:kimber@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/jack-cole/8/194/59"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
              <a href="https://twitter.com/jackwo14"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter.svg" alt="Twitter Icon"></a>
          </div>
        </div>

        <!-- <div class="third h-mbottom50">
          <div class="people-image">
            <a href="/people/alyce.html">
              <img class="persons-photo" src="./images/people/thumbnails/alyce.jpg" alt="alyce">
            </a>
          </div>
          <h3>ALYCE GREEN</h3>
          <p class="small-text"><span>ACCOUNT RESEARCH DIRECTOR</span></p>
          <div class="people-icons">
              <a href="mailto:jack@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email.svg" alt="Email Icon"></a>
              <a href="https://www.linkedin.com/pub/kimber-gregorakis/11/a47/a96"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin.svg" alt="linkedin Icon"></a>
          </div>
        </div>
 -->
      </section>

      <section id="people3">
        <div class="bucket page-center">
          <p id="people-lead">Are you people-people?</p>
          <p id="people-text">If so, <a class="more-link" href="http://uxhires.com/gethired.php">work with us</a> or <a class="more-link" href="http://uxhires.com/hiretalent.php"> get in touch</a></p>
        </div>
      </section>

      <section id="people4">
        <div class="page-center">
          <h5 class="eeo-header">Jobs at Motivate Design</h5>
          <p class="eeo">Motivate Design provides equal employment opportunities (EEO) to all employees and applicants for employment without regard to race, color, religion, sex, national origin, age, disability or genetics. In addition to federal law requirements, Motivate Design complies with applicable state and local laws governing nondiscrimination in employment in every location in which the company has facilities. This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.</p>
          <p class="eeo">Motivate Design expressly prohibits any form of workplace harassment based on race, color, religion, gender, sexual orientation, gender identity or expression, national origin, age, genetic information, disability, or veteran status. Improper interference with the ability of Motivate Design’s employees to perform their job duties may result in discipline up to and including discharge.</p>
        </div>
      </section>

    </div>

  	  	{% include "partials/_foot.html" %}