{% include "partials/_head.html" %}

  <title>Resources</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="resources">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="resources1">

        {% include "partials/_nav2.html" %}

        <div class="page-center motivate-header">
          <img src="//cdn2.hubspot.net/hubfs/246844/redesign/resources-oct/Bitmap.png?t=1452713996920">
          <h1 class="resources-header">Dear Digital Diary</h1>
          <a href="http://www.motivatedesign.com/resources/digital-diary" class="resources-header-link">Download the pdf</a>
        </div>
      </section>

      <section id="recources2">
        <div class="half bucket">
          <div class="inner-bucket">
            <h3>New Techniques for Design Research</h3>
            <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
            <p>
              <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
            </p>
          </div>
        </div>
        
        <div class="half">
          <img class="hidden-load wp3 animated fadeInUp" src="//cdn2.hubspot.net/hubfs/246844/redesign/resources-oct/resources01.jpg?t=1452713996920" alt="mirror" title="mirror">
        </div>
      </section>

	  	{% include "partials/_foot.html" %}