{% include "partials/_head.html" %}

  <title>Resources</title>
  <meta name="description" content="Download case studies, white papers, guidebooks, workbooks and more from Motivate Design">

</head>
  <body id="resources">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container hidden">
      
      <section id="resources1">

        {% include "partials/_nav.html" %}
        
        <div class="center-diamond">
          <img src="./images/resources/diamond.svg" alt="">
        </div>

        <div class="hero-text">
          <h5>
            FEATURED WHITE PAPER
          </h5>
          <h1>
            The Facets of <br> Design
          </h1>
        </div>
        
        <div class="d-arrow-container">
          <a href="./images/resources/UX-Facets-Deck_V5.pdf" download>
            <img src="./images/resources/d-arrow.svg" alt="">
          </a>
        </div>
        <div class="clear"></div>

    <!--     <div class="page-center motivate-header">

          <img src="./images/resources/bitmap.png">
          
          <h1 class="resources-header">Dear Digital<br>Diary</h1>
          <a href="http://www.motivatedesign.com/white-papers/digital-diary" class="resources-header-link">Download the pdf</a>

        </div>
          
        <div class="arrow-container">
          <a href="#resources2">
            <img src="/images/misc/arrows/arrow.svg", class="h-arrow animated bounce infinite" alt="Down arrow">
          </a>
        </div> -->

      </section>

      <section id="resources2">

        <div class="page-center">
          <div class="bucket half wp3 hidden-load">
            <div class="bucket-inner">
              <h3>New Techniques for Design Research</h3>
              <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="/white-papers/new-techniques-for-design-research.html">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp4" src="./images/resources/resources01.jpg" alt="mirror" title="mirror">
          </div>
        </div>

      </section>

      <section class="h-dark-bgcolor" id="resources2">
        <div class="page-center">
          <div class="bucket half wp5 hidden-load">
            <div class="bucket-inner">
              <h3>Friendship Group Toolkit</h3>
              <p>Goodbye Focus Groups, Hello Friendship Groups: Introducing Motivate Design’s very own research methodology. Learn why friendship groups are the better option for conducting qualitative user research.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="/white-papers/friendship-groups.html">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp6" src="./images/resources/resources02.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

      <section id="resources3">
        <div class="page-center h-txtcenter">
          <h2 class="sentinel-lead">Get your copy of <em>Reframe: Shift the Way You Work, Innovate, and Think</em>, the new book by CEO and Founder, Mona Patel.</h2>
        </div>
      </section>

      <section id="resources4" class="h-dark-bgcolor">
        <div id="resources-book-wrapper" class="page-center h-txtcenter">
          <img id="resources-book" src="./images/resources/book-mockup2.png" alt="">
          <a id="buy-now" href="http://www.amazon.com/Reframe-Shift-Think-Work-Innovate-ebook/dp/B00VTZX9XK/">BUY NOW</a>
          <p class="tiny-text">IN HARDCOVER AND E-BOOK FORMATS</p>
        </div>
      </section>

      <section id="resources2">
        <div class="page-center">
          <div class="bucket half wp7 hidden-load">
            <div class="bucket-inner">
              <h3>Reimagining Retail</h3>
              <p>Here, we highlight three tried-and-true approaches to ethnography: In-store observations, intercepts and shop-alongs. We observe and listen to customers to help create better brand experiences.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="/white-papers/retail-ethnography-in-practice.html">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp8" src="./images/resources/resources03.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

      <section class="h-dark-bgcolor" id="resources2">
        <div class="page-center">
          <div class="bucket half wp9 hidden-load">
            <div class="bucket-inner">
              <h3>Journey Map Mindset</h3>
              <p>Outlining the whats, whys and hows of customer journey mapping to study and enhance customer engagement while sparking innovation.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="/white-papers/journey-maps.html">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp10" src="./images/resources/resources04.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

      <section id="resources2">
        <div class="page-center">
          <div class="bucket half wp11 hidden-load">
            <div class="bucket-inner">
              <h3>UX Strategy Equation</h3>
              <p>Mona Patel aligns service design, lean UX and disruptive thinking to create an experience strategy that produces amazing ideas that change entire experiences, not just interfaces.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="/white-papers/the-ux-strategy-equation.html">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp12" src="./images/resources/resources05.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

      <section class="h-dark-bgcolor" id="resources2">
        <div class="page-center">
          <div class="bucket half wp13 hidden-load">
            <div class="bucket-inner">
              <h3>Dear Digital Diary</h3>
              <p>Explore how researchers use diary studies to better capture insights and shape user discovery, customer experiences, design iterations and more.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="/white-papers/digital-diary.html">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp14" src="./images/resources/resources06.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

    </div> <!-- container end -->

	  	{% include "partials/_foot.html" %}