{% include "partials/_head.html" %}

  <title>Resources</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="resources">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="resources1">

        {% include "partials/_nav2.html" %}

        <div class="page-center motivate-header">
          <img src="../images/resources/bitmap.png">
          <h1 class="resources-header">Dear Digital Diary</h1>
          <a href="http://www.motivatedesign.com/resources/digital-diary" class="resources-header-link">Download the pdf</a>
        </div>
      </section>

      <section id="recources2">
        <div class="page-center">
          <div class="bucket half wp2 hidden-load animated fadeInLeft">
            <div class="bucket-inner">
              <h3>New Techniques for Design Research</h3>
              <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp3 animated fadeInUp" src="../images/resources/resources01.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

      <section class="h-dark-bgcolor" id="recources2">
        <div class="page-center">
          <div class="bucket half wp2 hidden-load animated fadeInLeft">
            <div class="bucket-inner">
              <h3>Friendship Group Toolkit</h3>
              <p>Goodbye Focus Groups, Hello Friendship Groups: Introducing Motivate Design’s very own research methodology. Learn why friendship groups are the better option for conducting qualitative user research.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp3 animated fadeInUp" src="../images/resources/resources02.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

      <section id="resources3">
        <div class="page-center h-txtcenter">
          <h2 class="sentinel-lead">Get your copy of <em>Reframe: Shift the Way You Work, Innovate, and Think</em>, the new book by CEO and Founder, Mona Patel.</h2>
        </div>
      </section>

      <section id="resources4" class="h-dark-bgcolor">
        <div id="resources-book-wrapper" class="page-center h-txtcenter">
          <img id="resources-book" src="../images/resources/book-mockup2.png" alt="">
          <a class="more-link" href="#">BUY NOW</a>
          <p class="tiny-text">IN HARDCOVER AND E-BOOK FORMATS</p>
        </div>
      </section>

      <section id="recources2">
        <div class="page-center">
          <div class="bucket half wp2 hidden-load animated fadeInLeft">
            <div class="bucket-inner">
              <h3>New Techniques for Design Research</h3>
              <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp3 animated fadeInUp" src="../images/resources/resources03.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

            <section id="recources2">
        <div class="page-center">
          <div class="bucket half wp2 hidden-load animated fadeInLeft">
            <div class="bucket-inner">
              <h3>New Techniques for Design Research</h3>
              <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp3 animated fadeInUp" src="../images/resources/resources04.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

            <section id="recources2">
        <div class="page-center">
          <div class="bucket half wp2 hidden-load animated fadeInLeft">
            <div class="bucket-inner">
              <h3>New Techniques for Design Research</h3>
              <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp3 animated fadeInUp" src="../images/resources/resources05.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

            <section id="recources2">
        <div class="page-center">
          <div class="bucket half wp2 hidden-load animated fadeInLeft">
            <div class="bucket-inner">
              <h3>New Techniques for Design Research</h3>
              <p>Six new user research techniques we’ve adapted for today’s digital consumer: Quick hits, friendship groups, immersion journeys, social graphs, de/re-construct and metaphor brands.</p>
              <p>
                <a class="more-link hvr-icon-forward-mint" href="http://www.motivatedesign.com/resources/new-techniques-for-design-research">See the White Paper</a>
              </p>
            </div>
          </div>
          
          <div class="half">
            <img class="hidden-load wp3 animated fadeInUp" src="../images/resources/resources06.jpg" alt="mirror" title="mirror">
          </div>
        </div>
      </section>

	  	{% include "partials/_foot.html" %}