{% include "partials/_head.html" %}

  <title>UX Hires</title>
  <meta name="description" content="">

</head>
	<body id="home">
		<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="uxhires1">
        {% include "partials/_nav.html" %}
        
        <div class="logo-wrapper">
          <img src="images/uxhires/uxhireslogo.svg" alt="UX Hires Logo">
        </div>

        <div class="heading">
          <!-- <h1>Our specialized recruiters <br> will help you <span>build out your team</span> or <span>find the perfect job.</span></h1> -->
          <h1>
          We help you build your <br> UX team or find the perfect job.
          </h1>
        </div>
        <div class="arrow-container m-top">
          <a href="#uxhires2">
            <img src="/images/misc/arrows/arrow.svg", class="h-arrow animated bounce infinite", alt="Down arrow">
          </a>
        </div>
      </section>

      <section id="uxhires2">
        <div class="page-center">
          <h2 class="green-lead">As recruiters, we have a clear understanding of UX needs because we are embedded within a UX agency.</h2>
          <h3 class="sentinel-lead m-top">We recognize that different organizations approach UX differently. This kind of expertise allows us to evaluate your staffing strategy or find the right role for you.
          </h3>
        </div>
      </section>

      <section id="uxhires3">
        <div class="page-center">
          <h2 class="green-lead m-bottom">We specialize in hiring UX professionals at any level
          </h2>
          <div class="uxwrapper">
            <img src="images/uxhires/ux-designers.png" alt="" class="ux-img">
            <div class="ux-head">
              UX Designer
            </div>
            <div class="ux-subhead">
              The architect who creates blueprints for exceptional experiences.
              <a href="#">See openings.</a>
            </div>
          </div>
          <div class="uxwrapper">
            <img src="images/uxhires/ux-researchers.png" alt="" class="ux-img">
            <div class="ux-head">
              UX Researcher
            </div>
            <div class="ux-subhead">
              The design archeologist, uncovering user behaviors that power experiences. <br>
              <a href="#">See openings.</a>
            </div>
          </div>
          <div class="uxwrapper">
            <img src="images/uxhires/ui-designers.png" alt="" class="ux-img">
            <div class="ux-head">
              Visual/UI Designer
            </div>
            <div class="ux-subhead">
              The craftsman that realizes the look and feel of a beautiful, intuitive experience.
              <a href="#">See openings.</a>
            </div>
          </div>
        </div>
      </section>

      <section id="uxhires4">
        <div class="section-center hidden-load wp3">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">
              We'll help you find <br> the perfect fit
            </h3>
            <p>
              We match people to places based on experience, personality, and skill. <br>
              <a href="#">See openings.</a>
            </p>
          </div>
        </div>

        <div class="image-wrap">
          <img class="hidden-load wp4" src="images/uxhires/briefcase.png" alt="">
        </div>
      </section>

      <section id="uxhires5">
        <div class="section-center center">
          <h3>
            "We worked with UX Hires to identify talent for several hard to find UX positions during a hiring ramp at Yodle. It a been a pleasure working with them. They are extremely professional and only send exceptional candidates. I would absolutely recommend them to other companies looking to hire strong talent for their UX organizations."
          </h3>
          <div class="contain-testimonial">
            <p>
              Suzanne Logan, Sr. Manager of Corporate Recruiting
            </p>
            <img src="images/uxhires/yodle.png" alt="">
          </div>
        </div>
      </section>

      <section id="uxhires6">
        <div class="section-center hidden-load wp2">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">
              Just right, <br> just-in-time staffing solutions
            </h3>
            <p>
              Using an in-depth knowledge of UX, substantial industry networks, and exacting standards, we identify the best talent for your team.
              <a href="#">Hire talent.</a>
            </p>
          </div>
        </div>

        <div class="image-wrap">
          <img class="hidden-load wp6" src="images/uxhires/find-talent.png" alt="">
        </div>
        
      </section>


      <!-- <section id="uxhires7">
        <div class="section-center center">
          <h3>
            "UX Hires found me the best job ever. I love my new job. <br> They listened to me and walked me through everything."
          </h3>
          <div class="contain-testimonial">
            <p>
              Todd Brown, Customer Insights Leader
            </p>
            <img src="images/uxhires/simple.svg" alt="">
          </div>
        </div>
      </section> -->

      <section id="uxhires8">
        <div class="section-center center wider">
          <h2>
            Related Links
          </h2>
          <div class="related-container">
            <div class="related-box first">
              <p>
                Open Position
              </p>
              <h3>
                Senior UX <br>
                Researcher (SF)
              </h3>
            </div>
            <div class="related-box second">
              <p>
                Article
              </p>
              <h3>
                How I accidentally <br>
                became a UX <br> 
                Designer
              </h3>
            </div>
            <div class="related-box third">
              <p>
                Events
              </p>
              <h3>
                Leap Into UX: <br>
                From Products to <br>
                Portfolios
              </h3>
            </div>
          </div>
        </div>
      </section>

      <section id="uxhires9">
        <div class="page-center p-top">
          <h3>More open positions</h3>
          <div class="job-listing">
            <h1>
              Interaction/Motion Designer
            </h1>
            <p>
              We are honored to represent our client, an emerging start-up who’s just launched (beta) video product is already garnering strong positive attention, in their search for an interaction designer. They are seeking a highly detailed-oriented designer who cares about every action a consumer takes when they engage with their product, from log-in to execution.
              <a href="#">More info.</a>
            </p>
          </div>
          <div class="job-listing">
            <h1>
              Senior UX Researcher
            </h1>
            <p>
              Our client, (a successful 12 year-old SaaS based company located inside San Francisco), is seeking a User Experience Researcher to join their team and help them bring world-class user experiences to their customers. They have over 50 million users in countries around the world and are just getting started! 
              <a href="#">More info.</a>
            </p>
          </div>
        </div>
      </section>
    </div>

{% include "partials/_foot.html" %}