{% include "partials/_head.html" %}

  <title>UX Hires</title>
  <meta name="description" content="">

</head>
	<body id="home">
		<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="uxhires1">
        {% include "partials/_nav.html" %}
        
        <div class="logo-wrapper">
          <img src="images/uxhires/uxhireslogo.svg" alt="UX Hires Logo">
        </div>

        <div class="heading">
          <h1>Our specialized recruiters <br> will help you <span>build out your team</span> or <span>find the perfect job.</span></h1>
        </div>
      </section>
    	

    </div>


{% include "partials/_foot.html" %}