{% include "partials/_head.html" %}

  <title>UX Hires</title>
  <meta name="description" content="">

</head>
	<body id="home">
		<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="uxhires1">
        {% include "partials/_nav.html" %}
        
        <div class="logo-wrapper">
          <img src="images/uxhires/uxhireslogo.svg" alt="UX Hires Logo">
        </div>

        <div class="heading">
          <!-- <h1>Our specialized recruiters <br> will help you <span>build out your team</span> or <span>find the perfect job.</span></h1> -->
          <h1>
          We help you <span>build your UX team</span> <br> or find <span>the perfect job.</span>
          </h1>
        </div>
      </section>

      <section id="uxhires2">
        <div class="section-center">
          <h2 class="green-lead">As recruiters, we have a clear understanding of UX needs because we are embedded within a UX agency.</h2>
          <h3 class="sentinel-lead m-top">We recognize that different organizations approach UX differently. This kind of expertise allows us to evaluate your staffing strategy or find the right role for you.
          </h3>
        </div>
      </section>

      <section id="uxhires3">
        <div class="section-center center">
          <h2 class="green-lead m-bottom">We specialize in hiring UX professionals at any level
          </h2>
          <div class="uxwrapper">
            <img src="images/uxhires/ux-designers.svg" alt="" class="ux-img">
            <div class="ux-head">
              UX Designers
            </div>
            <div class="ux-subhead">
              UX Designers lorem ipsum dolor sit Lorem ipsum dolor.
              <a href="#">See openings.</a>
            </div>
          </div>
          <div class="uxwrapper">
            <img src="images/uxhires/ux-researchers.svg" alt="" class="ux-img">
            <div class="ux-head">
              UX Researchers
            </div>
            <div class="ux-subhead">
              UX Researchers lorem ipsum dolor Lorem ipsum dolor.
              <a href="#">See openings.</a>
            </div>
          </div>
          <div class="uxwrapper">
            <img src="images/uxhires/ui-designers.svg" alt="" class="ux-img">
            <div class="ux-head">
              Visual/UI Designers
            </div>
            <div class="ux-subhead">
              Visual/UI Designers ipsum dolor sit Lorem ipsum dolor.
              <a href="#">See openings.</a>
            </div>
          </div>
        </div>
      </section>

      <section id="uxhires4">
        <div class="section-center hidden-load wp3">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">
              We'll find you an <br> amazing role.
            </h3>
            <p>
              Are you an exceptional UX professional? Email or call us to discuss your next dream job!
              <a href="#">See openings.</a>
            </p>
          </div>
        </div>

        <div class="image-wrap">
          <a class="image-link" href="/about.html#about-anchor2">
            <img class="hidden-load wp4" src="images/uxhires/briefcase.svg" alt="">
          </a>
        </div>
      </section>

      <section id="uxhires5">
        <h3 class="ux-testimonial">
          "UX Hires found me the best job ever. I love my new job. They listened to me and walked me through everything."
        </h3>
        <p>Todd Brown, Customer Insights Leader</p>
        <img src="images/uxhires/simple-logo.svg" alt="">
        
      </section>

      <section id="uxhires6">
        <div class="page-center hidden-load wp3">
          <div class="bucket-inner">
            <h3 class="section-header h-staffing-color">
              We'll find you an <br> amazing role.
            </h3>
            <p>
              Are you an exceptional UX professional? Email or call us to discuss your next dream job!
              <a href="#">See openings.</a>
            </p>
          </div>
        </div>

        <div class="image-wrap">
          <a class="image-link" href="/about.html#about-anchor2">
            <img class="hidden-load wp4" src="images/uxhires/briefcase.svg" alt="">
          </a>
        </div>
        
      </section>


      <section id="uxhires7">
        <h3 class="ux-testimonial">
          "UX Hires found me the best job ever. I love my new job. They listened to me and walked me through everything."
        </h3>
        <p>Todd Brown, Customer Insights Leader</p>
        <img src="images/uxhires/simple-logo.svg" alt="">
        
      </section>

      <section id="uxhires8">
        
      </section>
    	

    </div>


{% include "partials/_foot.html" %}