{% include "partials/_head.html" %}

  <title>Work</title>
  <meta name="description" content="We’ve shifted from UX to YOUX. View our work and see what our clients are saying about how we deliver results.">

</head>
  <body id="work">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="work1"> 

      	{% include "partials/_nav2.html" %}

        <div class="page-center motivate-header">
          <h1><img src="/images/work/YOUX.png" alt=""></h1>
      	  <h2 class="sentinel-lead">We’ve shifted from UX to YOUX. It’s simple: No companies do UX the same way. We combine your vision and domain-expertise with our unique approach to staffing, research, and design to curate a plan that will work for you and your organization.</h2>
          <a class="work-button" href="/contact.html">Get your plan</a>
        </div>
      </section>

      <section id="client-logos">
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-01.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-02.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-03.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-04.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-05.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-06.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-07.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-08.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-09.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-10.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-11.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-12.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-13.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-14.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-15.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-16.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-19.png" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="/images/work/client_logos/ClientlogosKnockout-18.png" alt="client logo">
            </div>
          </a>
        </figure>
      </section>

      <section id="work2">
        <div id="jet-anchor" class="page-center">

          <div class="half bucket">
            <div class="bucket-inner hidden-load wp3">
              <h3>Jet</h3>
              <p>Prior to public launch, we collaborated with Jet to provide critical insights and advance existing designs through user research.</p>
              <p><a class="more-link hvr-icon-forward-mint" href="/case-studies/jet.html">See the case study</a></p>
            </div>
          </div>

          <div class="half">
            <img class="hidden-load wp4" src="/images/work/jet01.jpg" alt="jet">
          </div>

        </div>
      </section>

      <section id="work3" class="h-dark-bgcolor">
        <div id="trendsetter-anchor" class="page-center">

          <div class="half bucket">
            <div class="bucket-inner hidden-load wp5">
              <h3>Trendsetter</h3>
              <p>In a collaborative design session with the Trendsetter team, we identified a full customer journey flow and later designed concepts for a mobile application.</p>
              <p><a class="more-link hvr-icon-forward-mint" href="/case-studies/trendsetter.html">See the case study</a></p>
            </div>
          </div>

          <div class="half">
            <img class="hidden-load wp6" src="/images/work/trendsetter01.png" alt="trendsetter">
          </div>

        </div>
      </section>

      <section id="work4">
        <div id="phhhoto-anchor" class="page-center">

          <div class="half bucket">
            <div class="bucket-inner hidden-load wp7">
              <h3>PHHHOTO</h3>
              <p>Applying our problem-solving process to develop a support solution that provides clients with 24 hour access to immediate, high-quality assistance.</p>
              <p><a class="more-link hvr-icon-forward-mint" href="/case-studies/phhhoto.html">See the case study</a></p>
            </div>
          </div>

          <div class="half">
            <img class="hidden-load wp8" src="/images/work/phhhoto-home.jpg" alt="phhhoto">
          </div>

        </div>
      </section>

            <section id="work5" class="h-dark-bgcolor">
        <div class="page-center">

          <div class="half bucket">
            <div class="bucket-inner hidden-load wp9">
              <h3>Heat Seek</h3>
              <p>Working with Big Apps winner, Heat Seek to use design for good. Learn more at <a class="basic-link" href="http://heatseeknyc.com/">heatseeknyc.com.</p>
              <p><a class="more-link coming-soon" href="#comingsoon">Coming soon</a></p>
            </div>
          </div>

          <div class="half">
            <img class="hidden-load wp10" src="/images/work/Heatseek01.png" alt="heatseek">
          </div>

        </div>
      </section>

      <section id="work6">
        <div class="page-center">
          <h2 class="sentinel-lead h-mtop100">"Motivate Design champions the customer experience ensuring companies deliver value and establish competitive differentiation."</h2>
          <h2 id="todd-brown" class="sentinel-lead">-<em>Todd Brown, Customer Insights Leader</em></h2>
          <img id="work-line" src="/images/work/line.png">
          <img id="work-equifax" src="/images/work/equifax_logo.png">
        </div>
      </section>

      <section id="work7" class="h-dark-bgcolor">
        <div class="page-center">

          <div class="half bucket">
            <div class="bucket-inner hidden-load wp11">
              <h3 class="h-reframe-color">We help you staff</h3>
              <p>To find you great talent, our recruiters work with our UX team to separate the good porfolios from the great ones. Also, we augment teams’ skills and serve as an extension of your team.</p>
              <p><a class="h-reframe-color more-link hvr-icon-forward-mint" href="http://www.uxhires.com">Build your team</a></p>
            </div>
          </div>

          <div class="half">
            <img class="hidden-load wp12" src="/images/work/work_staffing1.jpg" alt="staffing">
          </div>

        </div>
      </section>
    </div>

  	  	{% include "partials/_foot.html" %}