{% include "partials/_head.html" %}

  <title>Work</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="work">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="work1"> 

      	{% include "partials/_nav2.html" %}

        <div class="page-center motivate-header hidden-load animated slideInUp">
          <h1><img src="dist/images/work/YOUX.png" alt=""></h1>
      	  <h2 class="sentinel-lead">We’ve shifted from UX to YOUX. It’s simple: No companies do UX the same way. We combine your vision and domain-expertise with our unique approach to staffing, research, and design to curate a plan that will work for you and your organization.</h2>
          <a class="more-link" href="http://www.motivatedesign.com/contact">Get your plan</a>
        </div>
      </section>

      <section id="client-logos">
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-01.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-02.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-03.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-04.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-05.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-06.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-07.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-08.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-09.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-10.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-11.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-12.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-13.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-14.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-15.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-16.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-18.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
        <figure>
          <a class="rec-image">
            <div class="overlay-wrapper">
              <div class="overlay">
              </div>
              <img src="//cdn2.hubspot.net/hubfs/246844/redesign/work/client_logos/ClientLogosKnockout-19.png?t=1452713996920" alt="client logo">
            </div>
          </a>
        </figure>
      </section>

  	  	{% include "partials/_foot.html" %}