{% include "partials/_head.html" %}

  <title>Work</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="work">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="work1"> 

      	{% include "partials/_nav2.html" %}

        <div class="page-center motivate-header hidden-load animated slideInUp">
          <h1><img src="dist/images/work/YOUX.png" alt=""></h1>
      	  <h2 class="sentinel-lead">We’ve shifted from UX to YOUX. It’s simple: No companies do UX the same way. We combine your vision and domain-expertise with our unique approach to staffing, research, and design to curate a plan that will work for you and your organization.</h2>
          <a class="more-link" href="http://www.motivatedesign.com/contact">Get your plan</a>
        </div>
      </section>

        <!-- body goes here -->

  	  	{% include "partials/_foot.html" %}