{% include "partials/_head2.html" %}

  <title>Friendship Groups Part 2</title>
  <meta name="description" content="The evolution of the focus group. In this white paper, Motivate Design outlines the future of money insights event case study.">

</head>
  <body id="whitepaper">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="friendship-groups1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <section id="whitepaper2" class="page-center h-mtop50">
        <h1 class="gotham-lead h-mbottom50">GOODBYE FOCUS GROUPS, HELLO FRIENDSHIP GROUPS</h1>
        <h2 class="italic-lead">It's time for a different approach to user research. Focus groups are a thing of the past. Say hello to Friendship Groups.</h2>

        <p>In Goodbye Focus Groups, Hello Friendship Groups, we introduce friendship groups and discuss why these groups are a better option for conducting qualitative user research. Friendship groups are an extremely viable, highly adaptable methodology suited for uncovering insights from today’s users to create innovative, delightful experiences across different verticals.</p>
        <a class="white-paper-button" href="#section-two">Download The White paper</a>
        <h3 class="gotham-lead h-mtop100 h-mbottom50">Take a look inside</h3>

        <div class="flexslider h-mbottom100">
          <ul class="slides">
            <li>
            <div><img class="image-carousel-shadow" src="/images/white_papers/Friendship_Groups_1/PreviewPage1.png" alt="whitepaper"></div>
            </li>
            <li>
            <div><img class="image-carousel-shadow" src="/images/white_papers/Friendship_Groups_1/PreviewPage2.png" alt="whitepaper"></div>
            </li>
            <li>
            <div><img class="image-carousel-shadow" src="/images/white_papers/Friendship_Groups_1/PreviewPage3.png" alt="whitepaper"></div>
            </li>
          </ul>
        </div>

      </section>

      <section id="whitepaper3">
        <div class="page-center">
          <h3 id="section-two" class="gotham-lead h-mbottom50">DOWNLOAD THE WHITE PAPER</h3>
          <p>We hope these methods encourage you to keep changing and pushing beyond today’s best practices to help your clients uncover innovation-inspiring research findings and discover the “what if” for their brand. </p>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//readytoreframe.us12.list-manage.com/subscribe/post?u=9efac6c29df6c152fd6ba03a1&amp;id=07a8862ff1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

<!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-MMERGE3">Company Name </label>
  <input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
</div>
  <div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9efac6c29df6c152fd6ba03a1_07a8862ff1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="download" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
        </div>
          
      </section>
        
    </div>

      {% include "partials/_foot2.html" %}
