    <footer>
      <div class="page-center">
        <div class="half">
          <address>Motivate Design<br>111 John St<br>Suite 450<br>New York, NY 10038</address>
          <div class="contact-info-container">
            <a class="contact-info" href="tel:646-400-5108">646.400.5108</a>
            <a class="contact-info" href="mailto:hello@motivatedesign.com">hello@motivatedesign.com</a>
          </div>
        </div>
          <div id="social" class="half">
            
            <div class="find-us-text">
              <span class="sentinel-light-italic">Find us on:</span>
            </div>
            
            <div id="social-wrapper">
              <div>
                <a href="https://twitter.com/Motivate_Design" target="_blank">
                  <div id="social-slide1">&nbsp;</div>
                </a>
                <a href="http://www.facebook.com/MotivateDesign" target="_blank">
                  <div id="social-slide2">&nbsp;</div>
                </a>
              </div>

              <div>
                <a href="http://www.instagram.com/MotivateDesign" target="_blank">
                  <div id="social-slide3">&nbsp;</div>
                </a>
                <a href="http://www.linkedin.com/company/1371810" target="_blank">
                  <div id="social-slide4">&nbsp;</div>
                </a>
              </div>
            </div>

          </div>
          <p id="copyright">Copyright © 2015 Motivate Design, LLC. All rights reserved. <a class="privacy-policy-link" href="http://www.motivatedesign.com/privacy-policy"> Privacy Policy</a></p>
        </div>
    </footer>
  <script src="/js/bundle.js"></script>
  <script src="/js/app.js"></script>
<!-- 

  ¯\_(ツ)_/¯ 

-->
</body>
</html>