<div class="navicon">
  <a href="/"><img class="cake" id="mobile-logo" src="./images/misc/logos/svg/MOTIVATE_LOGO_WHITE.svg"></a>
  <a class="nav-toggle" href="#"><span></span></a>
</div>
<nav class="header-nav">
  <div class="menu-wrapper">
    <ul style="max-width: 56pc;">
      <li class="nav-link-wrapper">
        <a id="logo-anchor" href="/">
          <img id="logo" src="./images/misc/logos/svg/motivate_logo_white.svg">
        </a>
      </li>
      <li class="nav-link-wrapper"><a href="/work.html">Work</a></li>
      <li class="nav-link-wrapper"><a href="/about.html">About</a></li>
      <li class="nav-link-wrapper"><a href="/people.html">People</a></li>
      <li class="nav-link-wrapper"><a href="/resources.html">Resources</a></li>
      <li class="nav-link-wrapper"><a href="https://medium.com/@MotivateDesign" target="_blank">Blog</a></li>
      <!-- <li class="nav-link-wrapper"><a href="/uxhires.html">UX Hires</a></li> -->
      <li class="nav-link-wrapper"><a href="/contact.html">Contact</a></li>
    </ul>
  </div>
</nav> 