	<nav>
  <ul>
    <li class="nav-link-wrapper"><img id="logo" src="../dist/images/misc/logos/svg/MOTIVATE_LOGO_WHITE.svg"><a class="h-ghost" href="http://www.motivatedesign.com/">Motivate Design</a></li>
    <li class="nav-link-wrapper"><a href="http://localhost:3000/work.html">Work</a></li>
    <li class="nav-link-wrapper"><a href="http://localhost:3000/about.html">About</a></li>
    <li class="nav-link-wrapper"><a href="http://localhost:3000/people.html">People</a></li>
    <li class="nav-link-wrapper"><a href="http://localhost:3000/resources.html">Resources</a></li>
    <li class="nav-link-wrapper"><a href="http://localhost:3000/blog.html" target="_blank">Blog</a></li>
    <li class="nav-link-wrapper"><a href="http://localhost:3000/contact.html">Contact</a></li>
  </ul>
</nav> 