{% include "partials/_head.html" %}

  <title>About</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="mona">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="work1"> 
        
        {% include "partials/_nav3.html" %}

        
<!-- body here -->


      {% include "partials/_foot.html" %}