{% include "partials/_head2.html" %}

  <title>Abigail Muir</title>
  <meta name="description" content="Abigail Muir">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="abigail1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">ABIGAIL MUIR IS AN EXPERIENCE DESIGNER HERE AT MOTIVATE. SHE IS A DESIGNER WITH A BUSINESS DEGREE WHO CAN STRATEGIZE & RESEARCH.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47282.svg" alt="">
      		<h3>KEEPING IT FRESH</h3>
					<p>Produces fresh ideas non-stop, all day, everyday. Just ask her!</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47244.svg" alt="">
      		<h3>AIMS TO PLEASE</h3>
					<p>With a multi-disciplinary arsenal of graphic design, strategy, business, creative writing, and research.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47372.svg" alt="">
      		<h3>HER HAIR, THOUGH</h3>
					<p>Her hair is the best ever. I mean, c’mon, seriously?! (Also, it’s full of design secrets.)</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/abigail_muir/abbyinner.png" alt="abigail" title="abigail">
          <h2 class="lead-text">ABIGAIL MUIR, EXPERIENCE DESIGNER</h2>
          <p>It wasn’t until much later in life that Abby realized most 11-year-olds did not spend their free time teaching themselves the Adobe Suite, designing websites, and reading sci-fi. An insight machine fueled by principled design, she captivates through a meticulously formulated amalgam of fiery wit and cool ideas. Feel free to inquire about how she learned Korean, or perhaps her secret affinity for chess problems. She graduated with a B.B.A. from the Strategic Design and Management program at Parsons The New School for Design.</p>

          <div class="grey-social-icon">
            <a href="mailto:abigail@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/pub/abigail-muir/"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}