{% include "partials/_head2.html" %}

  <title>Alyce Green</title>
  <meta name="description" content="Alyce Green">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="alyce1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">ALYCE GREEN IS AN ACCOUNT RESEARCH DIRECTOR AT MOTIVATE. SHE HAS 15 YEARS EXPERIENCE ADVOCATING FOR AND IMPLEMENTING MEANINGFUL USER EXPERIENCE DESIGN.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_02.svg" alt="">
      		<h3>IN THE BLOOD</h3>
					<p>Alyce comes from a long line of academic research scientists, so exploring the edges of "the known" is in her blood. She is known for thinking deeply and critically about a wide range of topics, and for seeking out new and sometimes uncharted waters.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47265.svg" alt="">
      		<h3>INNER DETECTIVE</h3>
					<p>A detective at heart, she uses her innate ability to uncover people’s motivations and meaning, and to truly understand the "whys" of their lives.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_01.svg" alt="">
      		<h3>CURIOUS</h3>
					<p>She loves to travel and learn about other cultures, speaks three languages and has lived on four continents!</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/alyce_green/alyce2.jpg" alt="alyce" title="alyce">
          <h2 class="lead-text">ALYCE GREEN, ACCOUNT RESEARCH DIRECTOR</h2>
          <p>Alyce sees the world though a unique lens. Her global perspective, empathetic nature and wicked intellect are a powerful combination, giving her the ability to identify, deconstruct and expose opportunity spaces with ease and grace. Facilitating and empowering teams to breathe life into these opportunity spaces is where her passion lies. From discovery, to concept development and refinement techniques, to quickly iterating possible solutions, Alyce has knowledge and experience in every facet of the Design Thinking process. She knows that fostering innovation means not only being grounded in business imperatives, but leveraging the empathy, rigor and creativity of a designer to navigate through a problem. She helps her clients and customers create nothing short of effective, desirable and delightful solutions. Alyce holds a BA in Design from UCLA, several professional certifications and was a "Leading by Design Fellow" at California College of the Arts in 2013.</p>

          <div class="grey-social-icon">
            <a href="mailto:alyce@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/alycecgreen"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            <a href="https://twitter.com/acgdesign"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}