{% include "partials/_head2.html" %}

  <title>Anne Borremans</title>
  <meta name="description" content="Anne Borremans">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="anne1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">ANNE BORREMANS IS A SENIOR VISUAL DESIGNER AT MOTIVATE. SHE HAS 7 YEARS EXPERIENCE IN AGENCY & IN-HOUSE VISUAL DESIGN.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47364.svg" alt="">
      		<h3>START TO FINISH</h3>
					<p>She sees a project through from start to finish, working through both strategy and design.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_60239.svg" alt="">
      		<h3>MULTI-TALENTED</h3>
					<p>She is a consummate, all-media designer. From print to digital – she’s got you covered.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/Original_Offsetter_Icon.svg" alt="">
      		<h3>BEST ALL-AROUND</h3>
					<p>A truly creative spirit, she is a musician, fine artist, and all-around creator.</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/anne_borremans/anneinner.png" alt="anne" title="anne">
          <h2 class="lead-text">ANNE BORREMANS, SENIOR VISUAL DESIGNER</h2>
          <p>Anne is a modern day renaissance woman. When she’s not sculpting the next proto-neo-post-pre-non-genre band, she’s spilling design gold all over our most important deliverables. She holds a degree in Multimedia and Visual Art from Tufts University and the School of the Museum of Fine Arts, Boston. </p>

          <div class="grey-social-icon">
            <a href="mailto:anne@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/anneborremans"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}