{% include "partials/_head2.html" %}
    <title>Christo Claassens</title>
    <meta name="description" content="Christo Claassens">
</head>

<body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <section id="christo1">
					{% include "partials/_nav3.html" %}
        </section>
        <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">CHRISTO CLAASSENS IS A SENIOR EXPERIENCE DESIGNER. HE IS ON A MISSION TO CREATE SIMPLE, PLEASANT EXPERIENCES THROUGH CREATIVE PROBLEM SOLVING.</h2>
        <section id="bio2" class="page-center h-mtop100">
            <div class="third"><img src="/images/misc/noun_project/icon_05.svg" alt="">
                <h3>PEOPLE EMPATHIZER</h3>
                <p>Christo believes that best UX happens when designers empathize with product users.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_47386.svg" alt="">
                <h3>PROBLEM SOLVER</h3>
                <p>It's like he has a wizard-like power to solve problems by creating simple solutions.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_47334.svg" alt="">
                <h3>ALL AROUND SOFTY</h3>
                <p>He loves people and strives to make a positive contribution to the lives of others.</p>
            </div>
        </section>
        <section id="bio3" class="page-center h-mtop100"><img src="/images/people/christo_claassens/christo2.jpg" alt="christo" title="christo">
            <h2 class="lead-text">CHRISTO CLAASSENS, SENIOR EXPERIENCE DESIGNER</h2>
            <p>With 15+ years of creating online experiences, Christo still likes to learn nerdy things about design. He revels in championing user needs, can’t get enough of usability testing, and mashes this together to create simple experiences. Christo is a new dad and can't wait to teach his son Andries the finer nuances of South African culture: speaking Afrikaans, drinking beer, eating biltong and playing rugby.</p>
            <div class="grey-social-icon">
                <a href="mailto:christo@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
                <a href="https://www.linkedin.com/in/brolloks"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
                <a href="https://twitter.com/brolloks1"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
            </div>
        </section>
    </div>
        {% include "partials/_foot2.html" %}