{% include "partials/_head2.html" %}
    <title>Dan Sennet</title>
    <meta name="description" content="Dan Sennet, VP Finance">
</head>

<body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <section id="dan1">
            {% include "partials/_nav3.html" %}
        </section>
        <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">DAN LIKES FINANCE, OPERATIONS AND LONG SKATES ON THE FROZEN POND. WITH 10 YEARS WORKING IN NEW YORK'S TECH AND DIGITAL SCENE, HE'S BECOME YOUR GO-TO GUY IF YOU NEED SOMEBODY TO JUST CRUSH IT.</h2>
        <section id="bio2" class="page-center h-mtop100">
            <div class="third"><img src="/images/misc/noun_project/icon_33188.svg" alt="">
                <h3>KEEP IT ALL TOGETHER</h3>
                <p>He's organized, poised, effective and efficient.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_01.svg" alt="">
                <h3>BILINGUAL</h3>
                <p>He speaks fluent Canadian.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_47260.svg" alt="">
                <h3>GEEK & SAVANT</h3>
                <p>He makes sure every job is done right without freaking out about it.</p>
            </div>
        </section>
        <section id="bio3" class="page-center h-mtop100"><img src="/images/people/dan_sennet/danlower.jpg" alt="mona" title="mona">
            <h2 class="lead-text">DAN SENNET, VICE PRESIDENT, FINANCE</h2>
            <p>Dan Sennet is Motivate's resident Canadian, culinary enthusiast and Vice President of Finance. After spending seven years 'growing up' in the online casual gaming industry at Arkadium as the Director of Operations, Dan has recently worked at Constant Contact and Loverly in similar roles. Throughout the past decade living and working in New York, Dan has been involved in corporate expansions and contractions, fund raising and acquisitions, budgeting, forecasting and just about everything in between. Dan is extremely excited to leverage his experiences and lessons learned to help Motivate develop into the world-class agency it is destined to become.</p>
            <div class="grey-social-icon">
                <a href="mailto:dan@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
                <a href="https://www.linkedin.com/in/danielsennet"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
                <a href="https://twitter.com/sennetors"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
            </div>
        </section>
    </div>
    {% include "partials/_foot2.html" %}