{% include "partials/_head2.html" %}

  <title>Emily Chu</title>
  <meta name="description" content="Emily Chu">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="emily1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">EMILY CHU IS A SENIOR DESIGN RESEARCHER HERE AT MOTIVATE. SHE WILL BRING EQUAL PARTS SUNSHINE AND SERIOUS KNOWLEDGE TO YOUR TEAM.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47364.svg" alt="">
      		<h3>TREND SPOTTER</h3>
					<p>A seer of what's next for UX. She’s first to spot trends for user communications and experiences.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_60239.svg" alt="">
      		<h3>MULTI-SPECIALIST</h3>
					<p>Hands-on with qualitative research, including ethnography and usability testing.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/Original_Offsetter_Icon.svg" alt="">
      		<h3>FIND OUT WHAT'S NEXT</h3>
					<p>Emily is advanced at assimilating data, identifying patterns and communicating the “so what”.</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/emily_chu/emilyinner.png" alt="emily" title="emily">
          <h2 class="lead-text">EMILY CHU, SENIOR DESIGN RESEARCHER</h2>
          <p>With an insatiable curiosity about people, Emily is always putting herself in the shoes of someone else. From usability testing to ethnographic research and friendship groups, she has the ability to uncover human emotions, attitudes and beliefs that drive action and behavior. Emily's analytical and detailed approach translate these findings into AHA moments for her clients. On the weekend, she loves seeking out cozy brunch spots and trying out the latest iPhone apps. Emily holds a Bachelor of Science in Marketing Communications from Emerson College.</p>

          <div class="grey-social-icon">
            <a href="mailto:emily@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/emchu16"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            <a href="https://twitter.com/EmChu16"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}