{% include "partials/_head2.html" %}

<title>Jack Cole</title>
<meta name="description" content="Jack Cole">
</head>

<body id="bio">
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
      <section id="jack1">
          {% include "partials/_nav3.html" %}
      </section>
      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">JACK COLE IS THE DIRECTOR OF DESIGN AT MOTIVATE. HE LEADS THE CHARGE AGAINST BAD DESIGN.</h2>
      <section id="bio2" class="page-center h-mtop100">
          <div class="third"><img src="/images/misc/noun_project/icon_33179.svg" alt="">
            <h3>SEES ALL SIDES</h3>
            <p>If you have a problem, then jack can share an example of how we have solved it for other clients.</p>
          </div>
          <div class="third"><img src="/images/misc/noun_project/icon_33122.svg" alt="">
            <h3>TEAM PLAYER</h3>
            <p>He juggles multiple projects with diligence and aplomb.</p>
          </div>
          <div class="third"><img src="/images/misc/noun_project/icon_47372.svg" alt="">
            <h3>BASICALLY PSYCHIC</h3>
            <p>He has telepathic-like insight into what clients really want.</p>
          </div>
      </section>
      <section id="bio3" class="page-center h-mtop100"><img src="/images/people/jack_cole/jackinner.png" alt="jack" title="jack">
          <h2 class="lead-text">JACK COLE, DIRECTOR OF DESIGN</h2>
          <p>jack has been living in the world of UX since he graduated from the University of Iowa (Go Hawkeyes!). He loves listening to and sharing stories about how design thinking transforms organizations. He practically swoons when he sees the transformation in his own customers. During his domestic hours, jack tinkers with roasting coffee and brewing beer when he is not chasing his toddling son around the house.</p>
          <div class="grey-social-icon">
            <a href="mailto:jack@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/pub/jack-cole/8/194/59"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            <a href="https://twitter.com/jackwo14"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
          </div>
      </section>
  </div>
  {% include "partials/_foot2.html" %}