{% include "partials/_head2.html" %}

  <title>Jesse Mcbride</title>
  <meta name="description" content="Jesse Mcbride">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="jesse1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">JESSE MCBRIDE IS A SENIOR UX RECRUITER HERE AT MOTIVATE. HE IS PASSIONATE ABOUT UNDERSTANDING THE NUANCES OF THE UX FIELD.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47264.svg" alt="">
      		<h3>TALENT SPECIALIST</h3>
					<p>Jesse focuses on critical goals and strengths when helping candidates and clients find potential UX matches.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47265.svg" alt="">
      		<h3>MASTER BUILDER</h3>
					<p>He helps clients create a UX talent blueprint to build, strengthen, or grow their teams.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47358.svg" alt="">
      		<h3>FOCUS ON TRENDS</h3>
					<p>Jesse helps keep clients (and us) in the know about what’s next on the UX horizon.</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/jesse_mcbride/jesseinner.png" alt="jesse" title="jesse">
          <h2 class="lead-text">JESSE MCBRIDE, SENIOR UX RECRUITER</h2>
          <p>Jesse is a champion of good design and experience-focused innovation. He’s acutely aware of the resources necessary to hire and retain excellent UX talent, so he creates lasting UX candidate/employer matches by making sure critical needs and goals are met. When he’s not helping out at The UX Lab, a Meetup group offering hands-on UX sessions and networking opportunities, Jesse is usually running a Spartan Race or planning his next bucket list adventure. Jesse graduated from Hunter College of the City University of New York (CUNY) and holds a B.A. in Psychology with a Media emphasis.</p>

          <div class="grey-social-icon">
            <a href="mailto:jesse@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/jessemcbride"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            <a href="https://twitter.com/jesseuxhires"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}