{% include "partials/_head2.html" %}
    <title>Ken Moran</title>
    <meta name="description" content="Ken Moran">
</head>

<body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <section id="ken1">
            {% include "partials/_nav3.html" %}
            </nav>
        </section>
        <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">KEN MORAN IS THE VICE PRESIDENT OF OPERATIONS. HE HAS 13 YEARS EXPERIENCE IN BUSINESS OPERATIONS AND HUMAN RESOURCES.</h2>
        <section id="bio2" class="page-center h-mtop100">
            <div class="third"><img src="/images/misc/noun_project/icon_33188.svg" alt="">
                <h3>KEEPS US ON TRACK</h3>
                <p>Ken is hands-on with project management, operations processes and procedures.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_47366.svg" alt="">
                <h3>NO CONTEST</h3>
                <p>Ken would get first place in the Best Communicator and Planner championship (if that existed).</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_04.svg" alt="">
                <h3>MUSIC MAN</h3>
                <p>Ken knows all the lyrics and harmonies to every song ever.</p>
            </div>
        </section>
        <section id="bio3" class="page-center h-mtop100"><img src="/images/people/ken_moran/keninner.png" alt="ken" title="ken">
            <h2 class="lead-text">KEN MORAN, VICE PRESIDENT OF OPERATIONS</h2>
            <p>Ken puts checkmarks in boxes that turn into checks in mailboxes. Between managing projects as well as human resources, he keeps things moving and everyone smiling. After work, he can be found enjoying a single malt scotch and rooting for the New York teams (but not the Jets or the Mets.) Ken attended Hofstra University.</p>
            <div class="grey-social-icon">
                <a href="mailto:ken@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
                <a href="https://www.linkedin.com/pub/ken-moran/6/921/316"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            </div>
        </section>
    </div>
    {% include "partials/_foot2.html" %} 