{% include "partials/_head2.html" %}

  <title>Kimber Gregorakis</title>
  <meta name="description" content="Kimber Gregorakis">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="kimber1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">KIMBER GREGORAKIS IS A BUSINESS ANALYST AT MOTIVATE. SHE HAS A GIFT FOR HELPING DEVELOPMENT TEAMS BRING BUSINESS GOALS TO LIFE THROUGH TECHNOLOGY.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47256.svg" alt="">
      		<h3>THINKS BIG PICTURE</h3>
					<p>Kimber works with business contacts, development teams and UX design experts to craft unique solutions to tough business issues.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47246.svg" alt="">
      		<h3>MASTER TRANSLATOR</h3>
					<p>She listens to clients, challenging them to decipher their true goals and then speaks those needs to development shops via top-notch requirements.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47334.svg" alt="">
      		<h3>IT'S GREEK TO HER</h3>
					<p>As Motivate's resident Greek, she brings a little spice to olive her projects. Opa!</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/kimber_gregorakis/kimberinner.png" alt="kimber" title="kimber">
          <h2 class="lead-text">KIMBER GREGORAKIS, BUSINESS ANALYST</h2>
          <p>Kimber began her career in a traditional finance role and quickly realized she was curious about more than the money when it comes to keeping businesses organized and successful. During the first few years of her career she worked for several major corporations - finding along the way-  her gift for analytical thinking. As a result a Business Analyst was born. When she is not working with business and technology teams to solve problems she spends time helping to run a Restaurant/Brewery that she co-owns with her husband, hanging out with her daughters and relaxing with her dog Max.</p>

          <div class="grey-social-icon">
            <a href="mailto:kimber@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/pub/kimber-gregorakis/11/a47/a96"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}