{% include "partials/_head2.html" %}

  <title>leigh altschuler</title>
  <meta name="description" content="Leigh Altschuler, Actor, Model">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="leigh1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">LEIGH ALTSHULER IS A MARKETING CONTENT MANAGER HERE AT MOTIVATE. NOT ONLY IS SHE HILARIOUS, SHE IS ALWAYS ON TOP OF EVERYTHING.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_33188.svg" alt="">
      		<h3>DONE AND DONE</h3>
					<p>leigh has already founded his own business and designed an awesomely innovative product.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_60223.svg" alt="">
      		<h3>RUNS A TIGHT SHIP</h3>
					<p>He’s an engineer at heart and this sense of discovery makes him an invaluable innovator.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_473412.svg" alt="">
      		<h3>LOL OMG</h3>
					<p>She is always making people laugh with her quick wit and incredible use of acronyms. A.I.R.? Y.I.I.T.T.</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/leigh_altschuler/leighinner.png" alt="leigh" title="leigh">
          <h2 class="lead-text">LEIGH ALTSHULER, MARKETING CONTENT MANAGER</h2>
          <p>True to her title, Leigh spends her days creating happiness at Motivate Design. Thanks to her unmatched organizational skills (and a ton of post-it notes) all calendars and logistics are managed seamlessly. As Mona's right-hand, she makes sure to high-five the team excessively. Leigh also creates happiness in the community by participating in various literacy programs for New York City children.</p>

          <div class="grey-social-icon">
            <a href="mailto:leigh@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}