{% include "partials/_head2.html" %}

  <title>Lois Siegel</title>
  <meta name="description" content="Lois Siegel">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="lois1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">LOIS SIEGEL IS DIRECTOR OF RECRUITING AT UX HIRES. SHE HAS PLACED COUNTLESS CANDIDATES IN SOME OF THE MOST COVETED POSITIONS.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47264.svg" alt="">
      		<h3>SHE'S ON POINT</h3>
					<p>Lois is seriously a matchmaker extraordinaire. Professional sparks will fly!</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47265.svg" alt="">
      		<h3>TAKE YOUR PICK</h3>
					<p>Specializes in recruiting UX, UI, IA, interaction designers, architects, researchers and developers.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47358.svg" alt="">
      		<h3>COUNT ON HER</h3>
					<p>You can count on Lois to be hands-on with talent acquisition and placement.</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/lois_siegel/loisinner.png" alt="lois" title="lois">
          <h2 class="lead-text">LOIS SIEGEL, DIRECTOR OF RECRUITING</h2>
          <p>Lois puts UX pros where they need to be—in positions of influence where design thinking impacts business decisions and helps make the world a better place. Nobel prize anyone? She has more than 10 years of recruiting experience and holds a B.A. from Connecticut College.</p>

          <div class="grey-social-icon">
            <a href="mailto:lois@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/pub/lois-siegel/1/227/b6"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}