{% include "partials/_head2.html" %}

  <title>About</title>
  <meta name="description" content="Matt Karp, Employee of the month">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="matt1">
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">MATTHEW KARP IS A SENIOR DESIGN RESEARCHER HERE AT MOTIVATE. HE IS A MASTER OF INVESTIGATION IN USABILITY RESEARCH SESSIONS.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_54935.svg" alt="">
      		<h3>WIREFRAME CONJURING</h3>
					<p>Although research is his main game, Matt is also an interaction and interface wireframe designer.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_60234.svg" alt="">
      		<h3>SUPER SIMPLIFICATION</h3>
					<p>He will help you make sense of complicated designs. And then refine them. Like a boss.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47372.svg" alt="">
      		<h3>INDUSTRY CONNOISSEUR</h3>
					<p>Whether it is in media, chemical, financial, pharmaceuticals or gaming, Matt will wow you with his multi-faceted connoisseurship.</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/matt_karp/matt_2.png" alt="matt" title="matt">
          <h2 class="lead-text">MATT KARP, SENIOR DESIGN RESEARCHER</h2>
          <p>Matt’s passion is to make life easier, one interaction at a time. He prides himself on his ability to listen to people and to connect hidden truths to great designs. He has unearthed research insights through methods ranging from one-on-one usability sessions to focus groups, and has crafted everything from interactive and static wireframes to usability standards documentation and user flows. He recognizes the real impact that truly informed, smart designs have and advocates this approach at every opportunity. Matt has a B.A. in Psychology from the University of Maryland, College Park and also holds a certification in User Experience Design from Rutgers University.</p>

          <div class="grey-social-icon">
            <a href="mailto:matt@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/mattkarp2"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            <a href="https://twitter.com/MattKarpx2"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}