{% include "partials/_head.html" %}

  <title>About</title>
  <meta name="description" content="{{meta.content}}">

</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="matt1"> 
        {% include "partials/_nav3.html" %}
      </section>
      <section id="bio2" class="page-center h-mtop100">
        <h2 class="gotham-lead h-mbottom100">MATTHEW KARP IS A SENIOR DESIGN RESEARCHER HERE AT MOTIVATE. HE IS A MASTER OF INVESTIGATION IN USABILITY RESEARCH SESSIONS.</h2>
      </section>

      <section>
      	<div class="third">
      		<img src="./images/people/matt_karp/icon1.svg" alt="">
      		<h3>WIREFRAME CONJURING</h3>
					<p></p>
      	</div>
      	<div class="third">
      		<img src="./images/people/matt_karp/icon1.svg" alt="">
      		<h3>SUPER SIMPLIFICATION</h3>
					<p></p>
      	</div>
      	<div class="third">
      		<img src="./images/people/matt_karp/icon1.svg" alt="">
      		<h3>INDUSTRY CONNOISSEUR</h3>
					<p></p>
      	</div>
      </section>
        
    </div>

      {% include "partials/_foot.html" %}