{% include "partials/_head2.html" %}

  <title>About</title>
  <meta name="description" content="Mona Patel, Founder and CEO at Motivate Design">

</head>
  <body id="mona">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <section id="mona1"> 
        {% include "partials/_nav3.html" %}
      </section>
      <section id="mona2" class="page-center h-mtop100">
        <h2 class="gotham-lead h-mbottom100">Entrepreneur. CEO. User Experience Expert. Business leader. Speaker. Author. Mentor. Professor. Mom.</h2>
      </section>
      <section id="mona3" class="page-center">
        <h3 class="mona-left-header">Contributes to</h3>
        <div id="featured-in" class="h-txtcenter">
          <a href="http://www.fastcompany.com/3041047/the-6-excuses-preventing-you-from-designing-a-better-world"><img src="/images/people/mona_patel/fastco.png" width="144" alt="fastco" data-constrained="true"></a>&nbsp; 

          <a href="http://www.forbes.com/sites/yec/2014/12/09/4-ways-to-help-your-startup-survive-and-grow/"><img src="/images/people/mona_patel/forbes.png" alt="forbes" width="98" data-constrained="true"></a>&nbsp; 

          <a href="http://www.huffingtonpost.com/mona-patel/women-business-when-lean-_b_5622364.html"><img style="width: 80px;" src="/images/people/mona_patel/hbr-category.png" alt="harvard_business_review" data-constrained="true" title="harvard_business_review"></a>&nbsp; 

          <a href="http://time.com/3754512/3-ways-find-forgotten-innovation/"><img src="/images/people/mona_patel/timelogo.png" alt="timelogo" width="56" data-constrained="true"></a> 

          <a href="http://time.com/3754512/3-ways-find-forgotten-innovation/"><img style="width: 80px;" src="/images/people/mona_patel/inc-logo.png" alt="inc logo" data-constrained="true" title="inc logo"></a>
        </div>
        <h3 class="mona-left-header">Memberships and Affiliations</h3>

        <div id="memberships" class="h-txtcenter h-mbottom50">

        <a href="https://yec.co/"><img src="/images/people/mona_patel/YEC.jpg" alt="YEC" width="120" height="auto"></a> 

        <a href="http://nycventurefellows.org/2015-fellows/#fellow24"><img src="/images/people/mona_patel/venturefellows.jpg" alt="venturefellows" width="120" height="auto"></a> 

        <a href="http://www.inc.com/profile/motivate-design"><img src="/images/people/mona_patel/inc1.jpg" alt="inc1" width="120" height="auto"></a> 

        <a href="http://nycda.com/"><img src="/images/people/mona_patel/NYCDA_logo.png" alt="NYCDA_logo" width="140" title="NYCDA_logo"></a></div>

        <div class="page-center">
          <div class="two-thirds"><hr></div>
          <div class="third">
            <a class="third-button width-auto" href="http://time.com/money/4053985/mona-patel-best-advice-entrepreneur/" target=
            "_blank">Mona's Latest Article</a>
          </div>
        </div>

        <h2 class="Gotham-text h-mbottom100 h-mtop100" style="text-align: center;">Areas of Expertise</h2>
        <div>

          <div class="half">
            <div class="h-txtcenter expertise-icon-left"><img class="global-icon" width="80" height="auto" src="/images/people/mona_patel/icon1.svg" alt="icon" title="icon">
            <div class="expertise-space">
            <p style="text-align: center;">Design and Innovation <br> Strategy</p>
            </div>
            </div>
          </div>

          <div class="half">
            <div class="h-txtcenter expertise-icon-right"><img class="global-icon" width="80" height="auto" src="/images/people/mona_patel/icon2.svg" alt="icon" title="icon">
            <div class="expertise-space">
            <p style="text-align: center;">User/Customer <br> Holistic Experiences</p>
            </div>
            </div>
          </div>

        </div>

        <div>
          
          <div class="third">
            <div class="h-txtcenter"><img class="global-icon" width="80" height="auto" src="/images/people/mona_patel/icon3.svg" alt="icon" title="icon">
            <div class="expertise-space">
            <p style="text-align: center;">Future Research <br> Methodologies</p>
            </div>
            </div>
          </div>

          <div class="third">
            <div class="h-txtcenter"><img class="global-icon" width="80" height="auto" src="/images/people/mona_patel/icon4.svg" alt="icon" title="icon">
            <div class="expertise-space">
            <p style="text-align: center;">Startup Businesses</p>
            </div>
            </div>
          </div>


          <div class="third">
            <div class="h-txtcenter"><img class="global-icon" width="80" height="auto" src="/images/people/mona_patel/icon5.svg" alt="icon" title="icon">
            <div class="expertise-space">
            <p style="text-align: center;">Entrepreneurship</p>
            </div>
            </div>
          </div>

        </div>
      </section>
      <section style="border: none;" class="page-center">
        <h2 class="Gotham-text h-mbottom100 h-mtop100" style="text-align: center;">Speaking Engagements</h2>

        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class='embed-container'>
        <iframe src="https://player.vimeo.com/video/148515423?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        
        <div class="h-mtop50 video-section">
          <div class="half h-txtcenter">
            <h3 class="small-header content-center">Videos</h3>
            <p><a href="https://vimeo.com/103815936">The Lean Agency</a></p>
            <p><a href="https://vimeo.com/73880261">Designing Fresh Perspectives</a></p>
            <p><a href="https://vimeo.com/124552163">Why Isn't Innovation Happening</a></p>
            <p><a href="https://youtu.be/IXBggb1-RgM">Disruptive Thinking</a></p>
          </div>
          <div class="half h-txtcenter h-clearnone">
            <h3 class="small-header content-center">Presentations&nbsp;</h3>
            <p><a href="http://www.slideshare.net/Motivate_Design/selling-your-great-idea">Selling Your Great Ideas</a></p>
            <p><a href="http://www.slideshare.net/Motivate_Design/excuse-you">Excuse You</a></p>
          </div>
        </div>


        <div class="page-center">
          <div class="two-thirds"><hr></div>
          <div class="third">
            <a class="third-button width-auto" href="http://cdn2.hubspot.net/hubfs/246844/MonaSpeakingHistory2015_v2.pdf">2015 Speaking History</a>
          </div>
        </div>

        <h2 class="gotham-text h-txtcenter h-mbottom100 h-mtop100">Amazon Bestselling Author</h2>

        <div>

          <div class="half">
            <div class="flexslider">
              <ul class="slides" style="list-style-type: none;">
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/Reframe_Book_Mockup_Final_small.jpg"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book1.png"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book2.png"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book_quotes/612x612_Reframe_Quotes3.jpg"></div>
                </li>
                <li>
                <div><img src="http://cdn2.hubspot.net/hubfs/246844/redesign/about_us/mona_patel/book3.png"></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="half">
            <h4>REFRAME: SHIFT THE WAY YOU WORK, INNOVATE, AND THINK</h4>
            <p class="sentinel">In <em>Reframe</em>, Mona shares her recipe for the first time, along with the compelling story of how she got there, on how to spark innovation and creativity anywhere, anytime.</p>
            <p class="italic-lead">"Inspiring, practical, and at times uncomfortably honest. Reframe's message is critically important for any leader to embrace."</p>
            <h5 style="font-size: 11px;"><strong>- Kelly Hoey, Speaker, Strategist and Angel Investor</strong></h5>
        </div>

          <div class="page-center">
          <div class="two-thirds"><hr></div>
          <div class="third">
            <a class="third-button width-auto" href="http://www.readytoreframe.com/">MORE ABOUT THE BOOK</a>
          </div>
        </div>
        
        <div class="h-mtop100 h-mbottom100">
          <img src="/images/people/mona_patel/monainner.png" alt="mona" title="mona">
          <h2 class="lead-text">MONA PATEL, CEO AND FOUNDER</h2>
          <p>Mona combines positivity, timeless wisdom, sharp design thinking and a little bit of magic glitter to help you see around corners and realize a kind of success you didn’t necessarily expect. She started Motivate Design in 2009 to create a place where clients could get what they want, rather than what an agency needs to sell. She holds a M.S. in Marketing Communications from Boston University and a B.S. in Engineering Psychology from Tufts University.</p>
          <div class="grey-social-icon">
            <a href="https://www.linkedin.com/in/monapatel1"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="LinkedinIcon_Gray">&nbsp;<a href="https://twitter.com/monapatel"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="TwitterIcon_Gray"></a>
          </div>
        </div>
      </section>
        
    </div>

      {% include "partials/_foot2.html" %}