{% include "partials/_head2.html" %}
    <title>Scott Iverson</title>
    <meta name="description" content="Scott Iverson, business inqueries">
</head>

<body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <section id="scott1">
            {% include "partials/_nav3.html" %}
        </section>
        <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">SCOTT IVERSON IS THE DIRECTOR OF CLIENT PARTNERSHIPS. HE SAYS WHAT HE MEANS AND MEANS WHAT HE SAYS. </h2>
        <section id="bio2" class="page-center h-mtop100">
            <div class="third"><img src="/images/misc/noun_project/icon_47265.svg" alt="">
                <h3>EXAMPLE FINDER</h3>
                <p>If you have a problem, then Scott can share an example of how we have solved it for other clients.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_33150.svg" alt="">
                <h3>PROPOSAL WRITING</h3>
                <p>Except for the occasional, misuse of a comma, Scott is skilled at translating client needs into documented plans.</p>
            </div>
            <div class="third"><img src="/images/misc/noun_project/icon_47366.svg" alt="">
                <h3>INDUSTRY TESTED</h3>
                <p>From startups to the largest banks in the world, Scott has helped manage UX research, design and strategy projects for over 10 years.</p>
            </div>
        </section>
        <section id="bio3" class="page-center h-mtop100"><img src="/images/people/scott_iverson/scottinner.png" alt="scott" title="scott">
            <h2 class="lead-text">SCOTT IVERSON, DIRECTOR OF CLIENT PARTNERSHIPS </h2>
            <p>Scott has been living in the world of UX since he graduated from the University of Iowa (Go Hawkeyes!). He loves listening to and sharing stories about how design thinking transforms organizations. He practically swoons when he sees the transformation in his own customers. During his domestic hours, Scott tinkers with roasting coffee and brewing beer when he is not chasing his toddling son around the house.</p>
            <div class="grey-social-icon">
                <a href="mailto:scott@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
                <a href="http://www.linkedin.com/in/scottiverson"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            </div>
        </section>
    </div>
    {% include "partials/_foot2.html" %} 