{% include "partials/_head2.html" %}

  <title>Sean Echevarria</title>
  <meta name="description" content="Sean Echevarria, all-star">
</head>
  <body id="bio">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">

      <section id="sean1"> 
        {% include "partials/_nav3.html" %}
      </section>

      <h2 class="page-center h-mtop100 gotham-lead h-mbottom100">SEAN PAUL ECHEVARRIA IS THE BUSINESS PARTNERSHIPS LEAD HERE AT MOTIVATE. HE IS AN AMBITIOUS GAME-CHANGER AND ENTREPRENEUR.</h2>

      <section id="bio2" class="page-center h-mtop100">

      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47264.svg" alt="">
      		<h3>AHEAD OF THE CURVE</h3>
					<p>Sean has already founded his own business and designed an awesomely innovative product.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47265.svg" alt="">
      		<h3>STAYS CURIOUS</h3>
					<p>He’s an engineer at heart and this sense of discovery makes him an invaluable innovator.</p>
      	</div>
      	<div class="third">
      		<img src="/images/misc/noun_project/icon_47358.svg" alt="">
      		<h3>SUPER SOCIAL</h3>
					<p>Sean has hosted so many meetups and events, you’ve probably already met him!</p>
      	</div>

      </section>

      <section id="bio3" class="page-center h-mtop100">

          <img src="/images/people/sean_echevarria/seaninner.png" alt="sean" title="sean">
          <h2 class="lead-text">SEAN PAUL ECHEVARRIA, BUSINESS PARTNERSHIPS LEAD</h2>
          <p>Before you can finish your question, Sean has already said “yes!” and is halfway to the finish line. He is passionate about technology and entrepreneurship, and can always be found networking at a Meetup somewhere in the city. He is the lead organizer for The UX Lab, and is involved in several other startup efforts. Sean graduated from North Carolina State University with a bachelor's degree in Mechanical Engineering, but has developed his business mindset since selling real estate at age 18 and launching the next best thing in packaging in Jar~with~a~Twist.</p>

          <div class="grey-social-icon">
            <a href="mailto:sean@motivatedesign.com"><img width="20" height="auto" src="/images/misc/circle_icons/icon_email2.svg" alt="Email Icon"></a>
            <a href="https://www.linkedin.com/in/specheva"><img width="20" height="auto" src="/images/misc/circle_icons/icon_linkedin2.svg" alt="linkedin Icon"></a>
            <a href="https://twitter.com/specheva"><img width="20" height="auto" src="/images/misc/circle_icons/icon_twitter2.svg" alt="Twitter Icon"></a>
          </div>

      </section>
        
    </div>

      {% include "partials/_foot2.html" %}