#bio {

	.nav-toggle span, .nav-toggle span:after, .nav-toggle span:before {
		background: $text-color;
	}

  #bio2 {
    text-align: center;
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: 0;
  }

  #bio3 {
    height: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: 0;
  }



/*banners*/

	#matt1 {
		height: 600px;
    background-image: url(../images/people/matt_karp/MattLead.jpg);
    background-size: cover;
    width: 100%;
    background-position-y: 74px;
    background-repeat: no-repeat;
	}

}