#contact {

  .nav-toggle span, .nav-toggle span:after, .nav-toggle span:before {
    background: $white;
  }

  #contact1 {
      position: relative;
      text-align: center;
      width: 100%;
      height: 439px;
      background-color: $orange;
      min-height: 439px;
  }

  p {
    font-size: 2.0rem;
    line-height: 23px;
    font-family: Sentinel-Light;
    font-size: 16px;
    color: #42423f;
    letter-spacing: 0;
  }

  .half a {
  	text-decoration: underline;
  }

   h1 {
    font-weight: 500;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    text-transform: none;
    font-family: Gotham-Bold;
    font-size: 40px;
    font-size: 4rem;
    color: #fff;
    letter-spacing: 1px;
    line-height: 50px;
	}

	.hero-button {
		font-weight: 600;
    text-transform: uppercase;
    background-color: #e2603e;
    color: #fff;
    padding: 2pc;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 140px;
    position: static;

	}

	iframe {
		pointer-events: none;
	}


  nav li>a:before {
    background-color: $white;
  }

  #mc_embed_signup_scroll {

    div{
      margin: 30px;
    }

    label {
    cursor: pointer;
    display: block;
    font-family: Gotham-Light;
    font-style: normal;
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 2.22px;
    margin-bottom: 4px;
    text-align: left;
    padding-top: 26px;
    }

    input {
      display: block;
      font-size: 1.2rem;
      line-height: 18px;
      font-family: Sentinel-Light;
      font-style: italic;
      letter-spacing: 1px;
      height: 24px;
      width: 300px;
      border: 1px solid #ccc;
    }

    input[type="submit"] {
      background-color: #6cc8b9;
      border: 0 none;
      font-family: Gotham-Medium;
      font-size: 9px;
      line-height: 2px;
      font-style: normal;
      letter-spacing: 2.16px;
      text-align: center;
      text-shadow: none;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      padding: 20px;
      opacity: .8;
    }

    input[type="submit"]:hover  {
      opacity: 1;
    }

    input:focus { 
      outline: none !important;
      border-color: rgba(113, 158, 206, 0.7);
      box-shadow: 0 0 6px #719ECE;
    }

  }

  form h2 {
    padding-left: 28px;
    text-transform: uppercase;
    font-family: Gotham-Book;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 22px;
    letter-spacing: 3.07px;
  }

}








