
@media only screen
and (min-width : 1424px) {

  .motivate-header {
      font-size: 68px;
      letter-spacing: 0;
      line-height: 90px;
  }

}

/*up*/
@media screen and (min-width: 892px) {
  #motivate-link {
    display: none;
  }
}

/*down*/
@media screen and (max-width:892px) {

  #home .motivate-header {
    font-size: 4.8rem;
  }

/*//////////////////////*/

 /* mobile nav  */

 /*/////////////////////*/

  #mobile-logo {
    display: block;
    width: 55px;
    height: auto;
    position: relative;
    bottom: 17px;
    left: 90px;
  }

  #logo {
    padding: 0;
    margin: 0;
  }

  .header-nav {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
  }

  .navicon {
    visibility: visible;
    top: 25px;
  }

  .menu-wrapper {
    position: relative;
    top: 45%;
    -moz-transform: translatey(-45%);
    -ms-transform: translatey(-45%);
    -o-transform: translatey(-45%);
    -webkit-transform: translatey(-45%);
    transform: translatey(-45%);
  }

  .menu-wrapper ul li a {
    color: #fff;
    font-family: Gotham-Medium;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease-in-out;
    font-weight: 400;
  }

  .menu-wrapper ul li {
    margin-bottom: 25px
  }

  .menu-wrapper ul li {
    display: block;
  }

  .menu-wrapper ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

.menu-wrapper ul li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transform: translate3d(0, -80px, 0);
    -ms-transform: translate3d(0, -80px, 0);
    -o-transform: translate3d(0, -80px, 0);
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s
  }

  .header-nav.open ul li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  .menu-wrapper ul li:first-child {
    -moz-transition-delay: 0.05s;
    -o-transition-delay: 0.05s;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s
  }

  .menu-wrapper ul li:nth-child(2) {
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s
  }

  .menu-wrapper ul li:nth-child(3) {
    -moz-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s
  }

  .menu-wrapper ul li:nth-child(4) {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s
  }

  .header-container .menu-wrapper.hs-menu-flow-horizontal {
    min-width: 0px !important;
    position: relative;
    padding-left: 0;
    top: 50vh;
    bottom: 0;
    width: 100vw;
    left: 0;
    right: 0;
  }

  .header-container .hs-menu-flow-horizontal>ul>li>a, .body-container .hs-menu-flow-horizontal>ul>li>a {
    font-family: 'Gotham A','Gotham B';
    padding: 2vh;
    color: #fff;
    letter-spacing: 2.7px;
    line-height: 14px;
    font-size: 24px;
  }

  .header-container .hs-menu-flow-horizontal>ul>li>a, .body-container .hs-menu-flow-horizontal>ul>li>a:hover {
    font-size: 24px
  }

  .header-container a img {
    position: absolute;
    top: 24px;
  }

  .oct-nav {
    height: 118px;
  }

  nav a {
    padding: 2vh;
    color: #fff;
    letter-spacing: 2.7px;
    line-height: 14px;
    font-size: 24px;
    display: block;
  }

  nav ul li {
    display: inline-block;
    float: none;
    width: 100%;
  }

  #work nav a {
    color: $white;
  }

  #about nav a {
    color: $white;
  }

  #mona nav a {
    color: $white;
  }

  /*about page*/

  #about {

    figure p {
      font-size: 2.6rem;
    }

    .offerings {
      
      li {
        line-height: 24px;
        display: block;
      }
    }
  }

  nav li>a:hover:before {
    visibility: hidden;
  }

}






















@media screen and (max-width:768px) {

  .half {
    lost-column: 1/1;
    text-align: center;
  }

  .third {
    lost-column: 1/1;
    text-align: center;
  }

  .two-thirds {
    lost-column: 1/1;
    text-align: center;
  }

  .bucket {
    top: 10%;
  }

  .bucket-inner {
    padding-left: 0;
    margin-top: 50px;
    text-align: center;
  }

  #home {

    #home3, #home4, #home5, #home6 {
      height: auto;
      
      img {
        min-width: inherit;
        position: static;
      }
    }

    #home6 img {
      float: none;
    }

  }


}

