#mona {
	
	#mona1 {
		height: 600px;
    background-image: url(../images/people/mona_patel/MonaLead.jpg);
    background-size: cover;
    width: 100%;
    background-position-y: 74px;
    background-repeat: no-repeat;
	}

	.mona-left-header {
		font-size: 1.4rem;
		font-family: Gotham-Light;
		font-weight: 200;
		padding-top: 50px;
	}

	#featured-in img {
    margin: 18px;
    vertical-align: middle;
    margin-bottom: .25em;
	}

	#memberships img {
    margin: 20px;
	}

	.third-button {
    font-family: Gotham;
    border-radius: 1px;
    background-color: #6BC7BC;
    font-size: 11px;
    line-height: 1.2em;
    letter-spacing: 2px;
    font-weight: 500;
    color: #F9F9F9;
    opacity: .9;
    text-transform: uppercase;
    padding: 12px 35px 12px 35px;
    white-space: nowrap;
    display: inline-block;
    width: 248px;
    text-align: center;
	}

	.width-auto {
	    width: auto;
	}

	hr {
    border-bottom: 1px solid #d2d2d2;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 13px;
	}

	.expertise-icon-left {
    padding-left: 147px;
	}

	.expertise-icon-right {
    padding-right: 147px;
	}

	.expertise-icon-left img {
		display: block;
		margin: 0 auto;
	}

	.expertise-space {
    min-height: 116px;
	}

	.video-section a:hover {
		text-decoration: underline;
	}

}