#resources {

  .nav-toggle span, .nav-toggle span:after, .nav-toggle span:before {
    background: $white;
  }

  #resources2 {
    height: 400px;
    overflow: hidden;

    img {
      position: relative;
      top: 95px;
      right: 0;
      width: 472px;
      height: auto;
    }

    .bucket {
      top: 80px;
    }

    .bucket-inner {
      padding-left: 0px;
      padding-right: 105px;
    }
  }

  #resources3 {
    height: 400px;
    margin-top: 100px;
  }

  #resources4 {
    height: 600px;


    #resources-book {
      width: 460px;
      height: auto;
      padding-top: 80px;
    }

    #resources-book-wrapper {
      position: relative;
      bottom: 300px;
    }

  }

  nav li>a:before {
    background-color: $white;
  }

  .active-branch:after {
    background: $white
  }


  h3 {
    color: $greydark;
    font-size: 2.5rem;
    line-height: 32px;
  }

  #resources1 {
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: transparent;
      background: url("../images/resources/resourcesleadimage.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 700px;

      
      & h1 img {
          max-width: 896px;
      }

    .arrow-container {
      width: 100%;
      height: 5rem;
      text-align: center;
      margin-top: 30rem;

      .h-arrow {
        height: 18px; 
        width: 18px;
      }
    }
  }

  .motivate-header {
    position: relative;
    top: 200px;
    left: 40vw;
    right: 0;
    margin-top: -9px;
    background-position-y: 41%;

    & h1 {
      font-size: 3.5rem;
      letter-spacing: 5.4px;
      line-height: 64px;
      font-weight: 300;
      position: absolute;
      top: 63px;
      left: 40px;
      width: 399px;
      text-transform: uppercase;
    }

    & a {
      font-size: 1.2rem;
      color: #42423f;
      list-style-type: none;
      position: absolute;
      top: 376px;
      left: 40px;
      text-transform: uppercase;
    }
  
  }

  .more-link {
    font-family: "Gotham A", "Gotham B";
    font-size: 2.8rem;
    color: $text-color;
    line-height: 37px;
    text-decoration: underline;
    font-style: normal;
    font-size: 12px;
    color: #6cc8b9;
    letter-spacing: .81px;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;  
    font-weight: 500;
  }

  #buy-now {
    background-color: $reframe;
    border: 0 none;
    font-size: 9px;
    font-size: 1.4rem;
    line-height: 2px;
    letter-spacing: 2.16px;
    text-align: center;
    text-shadow: none;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 30px;
    opacity: .8;
    width: 176px;
    margin: 0 auto;
    font-weight: 500;
  }

  #buy-now:hover {
    opacity:  1;
  }


}