<div class="grid">
  
  <div class="third">
    <div class="people-image">
      <a href="http://www.motivatedesign.com/about/mona">
        <!-- photo -->
        <img class="persons-photo" src="//cdn2.hubspot.net/hub/246844/file-1561219664-png/redesign/about_us/main/MonaCircle.png?t=1452713996920" alt="mona.jpeg">
      </a>
    </div>
    <h3>MONA PATEL</h3>
    <p class="small-text"><span>CEO &amp; FOUNDER</span></p>
    <div class="people-icons">
        <a href="mailto:mona@motivatedesign.com"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_email.svg?t=1452713996920&amp;width=20" alt="Email Icon"></a>
        <a href="https://www.linkedin.com/pub/mona-patel/4/58/2b"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_linkedin.svg?t=1452713996920&amp;width=20" alt="linkedin Icon"></a>
        <a href="https://twitter.com/monapatel"><img width="20" height="auto" src="//cdn2.hubspot.net/hub/246844/hubfs/redesign/common_elements/circle_icons/icon_twitter.svg?t=1452713996920&amp;width=20" alt="Twitter Icon"></a>
    </div>
  </div>



</div>