{% include "partials/_head2.html" %}

  <title>Jet</title>
  <meta name="description" content="Working with Jet to improving the online shopping experience">

</head>
  <body id="casestudies">
    <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="work-research" class="container">
      <section id="casestudy1"> 

        {% include "partials/_nav3.html" %}
        <div class="page-center motivate-header">
          <h1>Jet.com</h1>
          <p>Making the online shopping experience “brilliant”</p>
          <img id="hero-iphone" src="../images/casestudies/jet/jetlead.png" alt="iphoneapp">
        </div>
      </section>

      <section id="casestudy2">
        <div class="page-center text-spacing1">
          <p>In 2015, Jet.com emerged as a formidable competitor to Amazon in the e-commerce space. By providing customers with a slick design and a number of ways they can save money on their orders, the Jet team was on their way to championing a brand new online shopping platform. As they were getting ready for liftoff (public launch), they approached Motivate with a key task: help them develop a great customer experience by incorporating UX research into their design process.</p>
          <ul class="offerings">
            <li>USABILITY TESTING</li>
            <li>ONLINE CARD SORT</li>
          </ul>
        </div>
      </section>
      <section id="jet3">
        <img id="jet-img1" src="../images/casestudies/jet/jet02.png" alt="iphone">
      </section>

      <section id="casestudy4">
        <div class="page-center text-spacing2">
      <h5 class="tiny-header h-research-color">SHOPPER-FRIENDLY CATEGORIES</h5>
      <p>Once Jet was in the air (several months after launch), we were asked to gain some insights into how customers were interacting with their product categories. Being able to browse for a specific item is a pretty critical part of any ecommerce experience!</p>
      <p>How did we do this? We conducted an online card sort exercise with random shoppers and members of Jet’s beta, asking our participants to place items into groups that made sense to them.</p>
      <p>What did Jet learn? Labels that weren’t resonating with customers and opportunities to better group types of products together.</p>
      <img id="jet-img2" src="../images/casestudies/jet/jet03.png" alt="">
      </section> 

      <section id="casestudy5" class="h-dark-bgcolor jet5">
        <div class="page-center text-spacing3">
          <h5 class="tiny-header h-research-color">SMARTER SAVINGS</h5>
          <p>In order to ensure a seamless public launch, it was our job to see if these savings were effectively being communicated through Jet’s designs.</p>
          <p>How did we do this? The Jet design team built several interactive desktop and mobile prototypes that we presented to our research recruits in our own in-house usability lab. Working collaboratively with the Jet team, we noted where there were gaps in understanding and where things were working great.</p>
          <p>What did Jet learn? Opportunities to increase transparency in their messaging and designs, as well as user expectations for building an intuitive, customer-focused ecommerce experience.</p>
        </div>
      </section>
      
      <section id="casestudy6">
        <div class="page-center">
          <img id="jet-img3" src="../images/casestudies/jet/jet04.png" alt="jetboxes">

          <div class="whole text-spacing4">
            <h5 class="tiny-header h-research-color">PAIN POINTS IN THE JOURNEY BECOME OPPORTUNITIES FOR NEW FEATURES</h5>
            <p>We took an in-depth look at the pain-points which were causing the most friction then transformed them into design opportunities.</p>
          </div>
        </div>
          <div class="h-txtcenter h-mtop50">
            <a class="more-link hvr-icon-back" href="/work.html#jet-anchor">RETURN TO ALL CASE STUDIES</a>
          </div>

        
      </section>


    </div>
    {% include "partials/_foot2.html" %}