{% include "partials/_head2.html" %}

  <title>PHHHOTO</title>
  <meta name="description" content="We worked with PHHHOTO to develop a support solution that meets their needs">

</head>
  <body id="casestudies">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="work-reframe" class="container">
      <section id="casestudy1"> 

        {% include "partials/_nav3.html" %}
        <div class="page-center motivate-header">
          <h1>PHHHOTO</h1>
          <p>Using the WIT Studio to improve customer experience</p>
          <img id="phhhoto-img1" src="../images/casestudies/phhhoto/photo01.png" alt="iphoneapp">
        </div>
      </section>

      <section id="casestudy2">
        <div class="page-center text-spacing1">
          <p>PHHHOTO needed to develop a support solution that provides clients with 24-hour access to immediate, high-quality assistance that gets them up and running quickly to avoid stress and maximize PHHHOTO taking. Currently, on-site setup is available to most clients, and the production team has been able to handle support until now. The PHHHOTO team applied our problem-solving techniques to come up with an actionable solution.</p>
          <ul class="offerings">
            <li>IDEATION WORKSHOP</li>
            <li>REFRAME</li>
          </ul>
        </div>
      </section>
      <section id="phhhoto3">

      </section>

      <section id="casestudy4" class="phhhoto4 h-dark-bgcolor">
        <div class="page-center text-spacing2">
      <h5 class="tiny-header h-reframe-color">MY NAME IS</h5>
      <p>Emily Monen. I am the COO at PHHHOTO.</p>
       <h5 class="tiny-header h-reframe-color">PHHHOTO IS</h5>
      <p>A start-up company offering a social media camera app that’s really fun to use. Also, it’s an iPad-based photobooth app that we rent out for marketing events and parties.</p>
       <h5 class="tiny-header h-reframe-color">I DECIDED TO DO A WIT STUDIO BECAUSE</h5>
      <p>We were stuck. If PHHHOTO could provide quality, remote customer support, we would save time and money, increasing customer satisfaction and allowing more clients to have PHHHOTO at their events.</p>

      <img id="phhhoto-img3" src="../images/casestudies/phhhoto/photo02.png" alt="">
      </section> 

      <section id="casestudy5" class="phhhoto5">
        <div class="page-center text-spacing3">

          <h5 class="tiny-header h-reframe-color">TO START THE WIT STUDIO</h5>
          <p>We completed the Empathy and Problempathy Maps. We thought it was funny to put ourselves in different positions; Especially putting ourselves in the shoes of the app because, like anything in tech, it does have some problems and is intended to fun and delightful.</p>
  
          <img id="phhhoto-img4" src="../images/casestudies/phhhoto/photo04.png" alt="">

          <h5 class="tiny-header h-reframe-color">DURING THE WIT STUDIO</h5>
          <p>We learned that solving this problem surpisingly easy. After brainstorming on solutions, it was easy to group the ideas into themes: Internet outsourcing, 24-hour phone & text support and FaceTime Set-up. We felt like these themes were so obvious that there was nothing to do but move forward with the ideas.</p>
        </div>
      </section>
      
      <section id="casestudy6">
        <img id="phhhoto-img5" src="../images/casestudies/phhhoto/photo05.png" alt="phhhotoboxes">
        <div class="page-center">

          <div class="whole text-spacing4">
            <h5 class="tiny-header h-reframe-color">AFTER THE WIT STUDIO</h5>
            <p>We landed on a solution and created a list of action items for each team member. Together, we'll work to implement a way to provide clients the necessary support no matter where they are in the world. It was cool that we got to work with the entire team to solve this problem rather than just one department handling it. Also, we ended up with a handful of other ideas that could improve other areas of PHHHOTO. That was awesome.</p>
          </div>
        </div>
          <div class="h-txtcenter h-mtop50">
            <a class="more-link hvr-icon-back" href="/work.html#phhhoto-anchor">RETURN TO ALL CASE STUDIES</a>
          </div>

        
      </section>


    </div>
    {% include "partials/_foot2.html" %}