{% include "partials/_head2.html" %}

  <title>Trendsetter</title>
  <meta name="description" content="Design and Reseach methods with Trendsetter">

</head>
  <body id="casestudies">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="work-design" class="container">
      <section id="casestudy1"> 

      	{% include "partials/_nav3.html" %}
        <div class="page-center motivate-header">
          <h1>Trendsetter</h1>
        	<p>Bringing life to ideas through collaborative working sessions</p>
          <img id="hero-iphone" src="../images/casestudies/trendsetter/trendsetter_dashboard.png" alt="iphoneapp">
        </div>
      </section>

      <section id="casestudy2">
        <div id="work-research" class="page-center text-spacing1">
          <p>The Trendsetter team has over 15 years experience in the jewelry industry. They had identified many pain points in the journeys of both manufacturers and consumers. Using lean, rapid design cycles and workshops we created the Trendsetter concept. </p>
          <ul class="offerings">
            <li>collaborative design session</li>
            <li>journey maps</li>
            <li>UX Design</li>
            <li>Visual Design</li>
          </ul>
        </div>
      </section>
      <section id="casestudy3">
        <img id="iphone1" src="../images/casestudies/trendsetter/iphonehead.png" alt="iphone">
        <img id="iphone2" src="../images/casestudies/trendsetter/rate_copy_2.png" alt="iphone">
        
      </section>
      <section id="casestudy4">
        <div class="page-center text-spacing2">
      <h5 class="tiny-header h-green-color">FROM RAW CONCEPTS TO VISUAL DESIGN</h5>
      <p>In an all-day Workthrough session with the Trendsetter team, we flowed out the journey of key user types and pieces of jewelry themselves. Drawing insights from this collaborative design session, we created a concept web and iOS application.</p>
      <img id="browser1" src="../images/casestudies/trendsetter/safari_copy2.png" alt="browser">
      <img id="browser2" src="../images/casestudies/trendsetter/safari_copy.png" alt="browser">
      </section> 

      <section id="casestudy5" class="h-dark-bgcolor">
        <div class="page-center text-spacing3">
          <h5 class="tiny-header h-green-color">FROM RAW CONCEPTS TO VISUAL DESIGN</h5>
          <p>The mobile app focused on consumers, whose needs were oriented toward rating and purchasing items. However, the needs of manufacturers and vendors were better suited to a web dashboard where they could easily review data and manage inventory.</p>
        </div>
      </section>
      
      <section id="casestudy6">
        <div id="iphones" class="page-center">
          <div class="half">
            <img src="../images/casestudies/trendsetter/trendsetteriphones1.png" alt="iphones">
            <img style="padding-top: 10px;" src="../images/casestudies/trendsetter/trendsetteriphones2.png" alt="iphones">
          </div>
          <div class="half">
            <img src="../images/casestudies/trendsetter/trendsetteriphones3.png" alt="iphones">
            <img src="../images/casestudies/trendsetter/trendsetteriphones4.png" alt="iphones">
          </div>
          <div class="whole text-spacing4">
            <h5 class="tiny-header h-green-color">PAIN POINTS IN THE JOURNEY BECOME OPPORTUNITIES FOR NEW FEATURES</h5>
            <p>We took an in-depth look at the pain-points which were causing the most friction then transformed them into design opportunities.</p>
          </div>
        </div>
          <div class="h-txtcenter h-mtop50">
            <a class="more-link hvr-icon-back" href="/work.html#trendsetter-anchor">RETURN TO ALL CASE STUDIES</a>
          </div>

        
      </section>


    </div>
  	{% include "partials/_foot2.html" %}