<!-- {% macro active(activePage='work') %}
<nav>
  <ul>
    <li class="nav-link-wrapper"><img id="logo" src="./images/misc/logos/svg/MOTIVATE_LOGO_WHITE.svg"><a href="http://www.motivatedesign.com/" class="{%if activePage == 'home' %} active {% endif %}">Motivate Design</a></li>
    <li class="nav-link-wrapper"><a href="http://www.motivatedesign.com/work" class="{%if activePage == 'Work' %} active {% endif %}">Work</a></li>
    <li class="nav-link-wrapper"><a href="http://www.motivatedesign.com/about" class="{%if activePage == 'About' %} active {% endif %}">About</a></li>
    <li class="nav-link-wrapper"><a href="http://www.motivatedesign.com/people" class="{%if activePage == 'People' %} active {% endif %}">People</a></li>
    <li class="nav-link-wrapper"><a href="http://www.motivatedesign.com/resources" class="{%if activePage == 'Resources' %} active {% endif %}">Resources</a></li>
    <li class="nav-link-wrapper"><a href="https://medium.com/@MotivateDesign" target="_blank" class="{%if activePage == 'Blog' %} active {% endif %}">Blog</a></li>
    <li class="nav-link-wrapper"><a href="http://www.motivatedesign.com/contact" class="{%if activePage == 'Contact' %} active {% endif %}">Contact</a></li>
  </ul>
</nav> 
{% endmacro %} -->